<div class="col-sm-6 ct-search-wrap row">
    <div class="col-xs-8">
        <div class="ct-search inline">
            Search: <input placeholder="Enter Load #" type="text"/>
        </div>
    </div>
    <div class="col-xs-4 ct-amount-of-items">
        <strong>1</strong> to <strong>10</strong> of <strong>37</strong> entries
    </div>
</div>
<div class="col-sm-6 ct-pagination-wrap row">
    <div class="ct-pagination col-xs-6">
        <ul class="ct-pagination-list">
            <li class="prev"><a href="#"><img src="img/prev.png" alt="prev"/></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="next"><a href="#"><img src="img/next.png" alt="next"/></a></li>
        </ul>
    </div>
    <div class="ct-page-size-wrap col-xs-6">
        <span>Page-size:</span>
        <div class="page-size-select select-cont inline">
            <selwrap></selwrap>
        </div>
    </div>
</div>