<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li>YOU ARE HERE</li>
        <li>Administration</li>
        <li>Customers</li>
        <li><span>Add Customer</span></li>
    </ul>
</div>
<div class="container-controls row">
    <div class="col-xs-6 cc-label">
        <h1 class="title"><img src="img/back.png" alt=""/>Add Customer</h1>
    </div>
    <div class="col-xs-6 cc-btn">
        <ul class="loads-btn-list">
            <li><a class="white-btn" href="/tms/v2/#/administration"><img src="img/cancel.png" alt="cancel"/>cancel</a></li>
            <li><a class="green-btn" href="/tms/v2/#/administration/add-customer-step-2"><img src="img/nxt.png" alt="save"/>next</a></li>
        </ul>
    </div>
</div>
<div class="container border">
    <div class="customer-content-wrap">
        <div class="invoice-steps-wrap row">
            <div class="invoice-step invoice-step-1 checked current">
                <div class="is-number">1</div>
                <div class="is-label">Basic details</div>
            </div>
            <div class="invoice-step invoice-step-2">
                <div class="is-number">2</div>
                <div class="is-label">Advance Details</div>
            </div>
            <div class="invoice-step invoice-step-3">
                <div class="is-number">3</div>
                <div class="is-label">Notifications</div>
            </div>
        </div>
        <customer></customer>
    </div>
</div>
