<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li>YOU ARE HERE</li>
        <li>Administration</li>
        <li>External Carriers</li>
        <li><span>Add External Carriers</span></li>
    </ul>
</div>
<div class="container-controls row">
    <div class="col-xs-6 cc-label">
        <h1 class="title"><img src="img/back.png" alt=""/>Add External Carriers</h1>
    </div>
    <div class="col-xs-6 cc-btn">
        <ul class="loads-btn-list">
            <li><a class="white-btn" href="/tms/v2/#/administration"><img src="img/cancel.png" alt="cancel"/>cancel</a></li>
            <li><a class="green-btn" href="/tms/v2/#/administration/add-external-carrier"><img src="img/bck.png" alt="back"/>previous</a></li>
            <li><a class="green-btn" href="/tms/v2/#/administration/add-external-carrier-step-3"><img src="img/nxt.png" alt="next"/>next</a></li>        </ul>
    </div>
</div>
<div class="container border">
    <div class="customer-content-wrap">
        <div class="invoice-steps-wrap row">
            <div class="invoice-step invoice-step-1 checked">
                <div class="is-number">1</div>
                <div class="is-label">Basic details</div>
            </div>
            <div class="invoice-step invoice-step-2 checked current">
                <div class="is-number">2</div>
                <div class="is-label">Insurance Details</div>
            </div>
            <div class="invoice-step invoice-step-3">
                <div class="is-number">3</div>
                <div class="is-label">Notifications</div>
            </div>
        </div>
        <ext-carrier-two></ext-carrier-two>
    </div>
</div>