<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li>YOU ARE HERE</li>
        <li>Administration</li>
        <li>Shippers</li>
        <li><span>Add Shipper</span></li>
    </ul>
</div>
<div class="container-controls row">
    <div class="col-xs-6 cc-label">
        <h1 class="title"><img src="img/back.png" alt=""/>Add Shipper</h1>
    </div>
    <div class="col-xs-6 cc-btn">
        <ul class="loads-btn-list">
            <li><a class="white-btn" href="/#/administration"><img src="img/cancel.png" alt="cancel"/>cancel</a></li>
            <li><a class="green-btn" href><img src="img/save.png" alt="save"/>save</a></li>
        </ul>
    </div>
</div>
<div class="container border">
</div>