<div class="notes-wrap form-wrap">
    <div class="nw-row field-row">
        <div class="field-col">
            <label class="label">Standard Invoice Notes (Printed on Invoices)</label>
            <div class="textarea-wrap"><textarea></textarea></div>
        </div>
    </div>
    <div class="nw-row field-row">
        <div class="field-col">
            <label class="label">Load Confirmation Terms & Conditions</label>
            <div class="textarea-wrap"><textarea></textarea></div>
        </div>
    </div>
    <div class="nw-row field-row">
        <div class="field-col">
            <label class="label">Standard BOL Notes (Printed on Bill of Landing Sheet)</label>
            <div class="textarea-wrap"><textarea></textarea></div>
        </div>
    </div>
    <div class="nw-row field-row">
        <div class="field-col">
            <label class="label">Standard Customer Sheet Notes (Printed on Customer Sheets)</label>
            <div class="textarea-wrap"><textarea></textarea></div>
        </div>
    </div>
</div>