<div class="tax-reports-wrap">
    <div class="tr-row row">
        <div class="tr-col tr-col-left col-sm-6">
            <label class="label">Report Type <span class="red">*</span></label>
            <div class="select-cont">
                <select>
                    <option value="1">Select Report Type</option>
                    <option value="2">Report Type 1</option>
                    <option value="3">Report Type 2</option>
                    <option value="4">Report Type 3</option>
                </select>
            </div>
        </div>
        <div class="tr-col tr-col-right col-sm-6">
            <label class="label">Year <span class="red">*</span></label>
            <div class="select-cont">
                <select>
                    <option value="1">Select Year</option>
                    <option value="2">Year 1</option>
                    <option value="3">Year 2</option>
                    <option value="4">Year 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="tr-row row">
        <div class="tr-col tr-col-left col-sm-6">
            <label class="label">Carrier <span class="red">*</span></label>
            <div class="select-cont">
                <select>
                    <option value="1">Select Carrier</option>
                    <option value="2">Carrier 1</option>
                    <option value="3">Carrier 2</option>
                    <option value="4">Carrier 3</option>
                </select>
            </div>
        </div>
        <div class="tr-col tr-col-right col-sm-6">
            <label class="label">Year <span class="red">*</span></label>
            <a class="green-btn generate-report-btn" href><img src="img/report.png" alt="report"/>Generate report</a>
        </div>
    </div>
</div>
<div class="tr-table-wrap" ng-controller="TaxReportsTableCtrl as table">
    <table-tax-reports></table-tax-reports>
</div>
<div class="container-toolbar container-bottomtoolbar row">
    <bottom-toolbar></bottom-toolbar>
</div>