/** Main */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
ul, ol {
    list-style: none;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
body {
    background: #e5e9ec none repeat scroll 0 0;
    color: #8990a0;
    font: 14px "Source Sans Pro";
}
html, body {
    min-height: 100%;
}
.wrapper {
    height: 100%;
}
.page {
    height: 100%;
    position: relative;
}
select::-moz-focus-inner {/* */
    outline: none;
}
*:focus {
    outline: none;
}
option {
    padding-bottom: 8px;
    padding-top: 8px;
}
input[type="checkbox"] + span {
    background: #fff;
    border: 1px solid #0aa699;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 16px;
    margin: 0 10px 20px -14px;
    position: relative;
    top: 3px;
    width: 16px;
    z-index: 1;
}
input[type="checkbox"]:checked + span {
    background: #0aa699 url("img/checkbox.png") no-repeat scroll 50% 50%;
}
input[type="checkbox"] {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 16px;
    left: 2px;
    opacity: 0;
    position: relative;
    top: 0;
    width: 16px;
    z-index: 10;
}
input[type="radio"] + span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #0aa699;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 16px;
    margin: 0 10px 20px -14px;
    position: relative;
    top: 3px;
    width: 16px;
    z-index: 1;
}
input[type="radio"]:checked + span::after {
    background: #0aa699 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 10px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
}
input[type="radio"] {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 16px;
    left: 2px;
    margin: 3px 0 20px;
    opacity: 0;
    position: relative;
    top: 0;
    width: 16px;
    z-index: 10;
}
textarea {
    border: 1px solid #e8edf1;
    border-radius: 5px 5px 0;
    color: #c0c3c6;
    font-size: 14px;
    height: 29px;
    padding: 4px 10px;
    width: 100%;
}
.textarea-wrap {
    position: relative;
}
.textarea-wrap:after {
    content: '';
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: 5px solid transparent;
    border-right: 5px solid #0AA699;
    border-bottom: 5px solid #0AA699;
    display: block;
    width: 0;
    height: 0;
    z-index: 10;
}
.textarea-wrap::before {
    background: #ffffff none repeat scroll 0 0;
    bottom: 1px;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    right: 1px;
    width: 12px;
    z-index: 5;
}

/** Helpers */

.title {
    font-size: 26px;
    font-weight: 300;
    padding: 10px 0 0;
}
.title > img {
    margin-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
}
.green-btn:hover {
    border-color: #fff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 2px 2px rgba(0, 0, 0, 0.1) inset;
}
.green-btn {
    background: #0aa699 none repeat scroll 0 0;
    border: 1px solid #0aa699;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: inline-block;
    font-weight: 600;
    height: 41px;
    line-height: 39px;
    min-width: 100px;
    padding: 0 18px;
    text-align: center;
    text-shadow: 0 0 3px #9bd2cc;
    text-transform: uppercase;
}
.green-btn:active {
     border-color: #0aa699;
     box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.3) inset;
 }
.white-btn {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #0aa699;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #0aa699;
    display: inline-block;
    font-weight: 600;
    height: 41px;
    line-height: 38px;
    min-width: 100px;
    padding: 0 18px;
    text-align: center;
    text-transform: uppercase;
}
.green-btn > img, .white-btn > img {
    margin-right: 7px;
    margin-top: -2px;
    vertical-align: middle;
}
.border {
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.inline {
    display: inline-block;
}
.select-cont {
    border: 1px solid #e8edf1;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.select-cont::after {
    background: #ffffff url("img/select-arrow.png") no-repeat scroll 50% 50%;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
    z-index: 10;
}
.select-cont select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: 100%;
    left: 0;
    padding-right: 26px;
    position: absolute;
    top: 0;
    width: calc(100% + 20px);
    z-index: 20;
}
.select-cont option {
    padding-left: 11px;
    text-align: left;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.hide {
    display: none;
}
.label {
    display: block;
    font-size: 16px;
    min-height: 36px;
    padding: 8px 0;
}
.label-wr {
    padding-left: 15px;
}
.red {
    color: #e5424d;
}
.text {
    border: 1px solid #e8edf1;
    border-radius: 5px;
    color: #505358;
    font-size: 14px;
    height: 31px;
    line-height: 29px;
    padding: 0 10px;
    width: 100%;
}
.label-for {
    cursor: pointer;
    display: inline;
    font-weight: 300;
    vertical-align: middle;
}
.checkbox {
    margin-bottom: 20px;
    margin-top: 3px;
}
.form-wrap {
    padding: 5px 0 20px;
}
.manage-reports-wrap {
    min-height: 400px;
}
.aw-block {
    margin-bottom: 30px;
}
.aw-tetle h4 {
    background: #e8edf1 none repeat scroll 0 0;
    border-radius: 5px;
    color: #8990a0;
    font-size: 16px;
    height: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.aw-tetle {
    padding-bottom: 20px;
}
.form-wrap .row {
    margin-left: -10px;
    margin-right: -10px;
}
.field-row {
    margin-bottom: 7px;
}
.full-select {
    height: 31px;
    width: 100%;
}
.full-select select {
    color: #505358;
    font-size: 14px;
    padding: 0 5px;
}
.form-wrap .row .col-sm-6, .form-wrap .row .col-sm-9, .form-wrap .row .col-sm-3, .form-wrap .row .col-sm-4, .form-wrap .row .col-xs-6 {
    padding-left: 10px;
    padding-right: 10px;
}
.form-wrap .row > .row {
    margin-right: 10px;
    padding-right: 0;
}
.form-wrap .row > .row > div:last-child, .form-wrap .row > .row > .col-right {
    padding-right: 0;
}
.radio-sel-wrap {
    border-left: 1px solid #e8edf1;
    height: 29px;
    padding-left: 6px;
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}
.radio-sel-wrap > * {
    margin-bottom: 0 !important;
}
.select-cont.select-radio::after {
    right: 36px;
}
.select-cont.select-radio > select {
    padding-right: 75px;
}
.th-checkbox .checkbox, .th-checkbox .checkbox + span {
    float: none;
    margin-bottom: 0;
}
.th-checkbox .checkbox + span {
    border-color: #e8edf1;
}
th.th-checkbox .checkbox + span {
    border-color: #8990a0;
}
.green-btn.report-btn {
    float: right;
    height: 30px;
    line-height: 30px;
}
.edit-btn img {
    margin-right: 0;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.green {
    color: #0aa699;
}
.btn-text {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}
.invoice-header .btn-text > img {
    position: relative;
    top: 3px;
}
.btn-text > img {
    margin-right: 3px;
}
.margin-right-10 {
    margin-right: 10px;
}
.cap {
    text-transform: capitalize;
}
.form-wrap hr {
    background: #e8edf1 none repeat scroll 0 0;
    border: medium none;
    height: 1px;
    margin: 20px 0 15px;
}
.upper {
    text-transform: uppercase;
}
.up-title a {
    margin: 0 !important;
    text-decoration: underline;
}
.up-title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}
.btn-text-light:hover {
    text-decoration: none;
}
.btn-text-light {
    display: inline-block;
    margin-top: 6px;
    text-decoration: underline;
}
.check-box-list > li {
    display: inline-block;
    margin-right: 25px;
}
.check-box-list {
    padding: 10px 10px 0;
}
.check-box-list > li .checkbox, .check-box-list > li .checkbox + span {
    margin-bottom: 0;
}
.field-row .checkbox, .field-row .checkbox + span, .field-row .label-for {
    display: inline-block;
    margin-top: 4px;
}

/** Sidebar */

.sidebar {
    background: #1b1e25 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 60px 15px 0;
    position: fixed;
    transition: all 0.8s ease 0s;
    width: 230px;
    z-index: 5;
}
.logo {
    background: #22262f none repeat scroll 0 0;
    height: 60px;
    left: 0;
    overflow: hidden;
    padding: 15px 0 0;
    position: fixed;
    text-align: center;
    transition: all 0.8s ease 0s;
    width: 230px;
}
.logo img {
    max-width: 144px;
}
.logo > a {
    display: inline-block;
    overflow: hidden;
    transition: width 0.4s ease 0s;
    width: 100%;
}
.logo > a::after {
    border-color: transparent transparent #22262f;
    border-style: solid;
    border-width: 0 0 30px 19px;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    transition: right 0.4s ease 0.4s;
    right: -100%;
    width: 0;
}
.main-header {
    margin-left: 230px;
    transition: all 0.6s ease 0s;
}
.header {
    background: #fff none repeat scroll 0 0;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
}
.profile {
    color: #fff;
    padding: 15px 0 35px;
    transition: all 0.4s ease 0s;
}
.prof-img {
    padding-left: 0;
}
.prof-info {
    padding: 0;
}
.prof-name {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    width: 100%;
}
.log-out::after {
    background: rgba(0, 0, 0, 0) url("img/logout.png") repeat scroll 0 0;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 14px;
}
.log-out {
    color: #8b91a1;
    display: inline-block;
    padding-left: 18px;
    padding-top: 3px;
    position: relative;
}
.main-menu li {
    color: #8b91a1;
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 35px;
}
.main-menu a::after {
    background: rgba(0, 0, 0, 0) url("img/menu.png") no-repeat scroll 0 0 / 279px auto;
    content: "";
    height: 23px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 21px;
}
.main-menu a:hover, .main-menu li.active {
    color: #fff;
}
.main-menu a {
    padding-left: 45px;
    position: relative;
    transition: all 0.4s ease;
}
.Dashboard-menu::after {
    background-position: 0 0 !important;
}
.Loads-menu::after {
    background-position: -29px 0 !important;
}
.Invoices-menu::after {
    background-position: -57px 0 !important;
}
.Expenses-menu::after {
    background-position: -84px 0 !important;
}
.Administration-menu::after {
    background-position: -110px 0 !important;
}
.Users-menu::after {
    background-position: -139px 0 !important;
}
.Accounting-menu::after {
    background-position: -168px 0 !important;
}
.Reports-menu::after {
    background-position: -197px 0 !important;
}
.Profile-menu::after {
    background-position: -226px 0 !important;
}
.Help-menu::after {
    background-position: -255px 0 !important;
}

.Dashboard-menu:hover::after, .active .Dashboard-menu::after {
    background-position: 0 -25px !important;
}
.Loads-menu:hover::after, .active .Loads-menu::after {
    background-position: -29px -25px !important;
}
.Invoices-menu:hover::after, .active .Invoices-menu::after {
    background-position: -57px -25px !important;
}
.Expenses-menu:hover::after, .active .Expenses-menu::after {
    background-position: -84px -25px !important;
}
.Administration-menu:hover::after, .active .Administration-menu::after {
    background-position: -110px -25px !important;
}
.Users-menu:hover::after, .active .Users-menu::after {
    background-position: -139px -25px !important;
}
.Accounting-menu:hover::after, .active .Accounting-menu::after {
    background-position: -168px -25px !important;
}
.Reports-menu:hover::after, .active .Reports-menu::after {
    background-position: -197px -25px !important;
}
.Profile-menu:hover::after, .active .Profile-menu::after {
    background-position: -226px -25px !important;
}
.Help-menu:hover::after, .active .Help-menu::after {
    background-position: -255px -25px !important;
}


/** Close menu */

.close.page .sidebar, .close.page .logo {
    width: 70px;
}
.page.close .main-header, .page.close .content {
    margin-left: 70px;
}
.page.close .main-menu a::after {
    background-size: 405px auto;
    height: 36px;
    left: 2px;
    top: 2px;
    width: 36px;
}
.page.close .main-menu a {
    padding-left: 60px;
    white-space: nowrap;
}
.page.close .Dashboard-menu::after {
    background-position: 2px 0 !important;
}
.page.close .Loads-menu::after {
    background-position: -38px 0 !important;
}
.page.close .Invoices-menu::after {
    background-position: -80px 0 !important;
}
.page.close .Expenses-menu::after {
    background-position: -119px 0 !important;
}
.page.close .Administration-menu::after {
    background-position: -158px 0 !important;
}
.page.close .Users-menu::after {
    background-position: -200px 0 !important;
}
.page.close .Accounting-menu::after {
    background-position: -241px 0 !important;
}
.page.close .Reports-menu::after {
    background-position: -282px 0 !important;
}
.page.close .Profile-menu::after {
    background-position: -324px 0 !important;
}
.page.close .Help-menu::after {
    background-position: -367px 0 !important;
}
.page.close .Dashboard-menu:hover::after, .page.close .active .Dashboard-menu::after {
    background-position: 2px -37px !important;
}
.page.close .Loads-menu:hover::after, .page.close .active .Loads-menu::after {
    background-position: -38px -37px !important;
}
.page.close .Invoices-menu:hover::after, .page.close .active .Invoices-menu::after {
    background-position: -80px -37px !important;
}
.page.close .Expenses-menu:hover::after, .page.close .active .Expenses-menu::after {
    background-position: -119px -37px !important;
}
.page.close .Administration-menu:hover::after, .page.close .active .Administration-menu::after {
    background-position: -158px -37px !important;
}
.page.close .Users-menu:hover::after, .page.close .active .Users-menu::after {
    background-position: -200px -37px !important;
}
.page.close .Accounting-menu:hover::after, .page.close .active .Accounting-menu::after {
    background-position: -241px -37px !important;
}
.page.close .Reports-menu:hover::after, .page.close .active .Reports-menu::after {
    background-position: -282px -37px !important;
}
.page.close .Profile-menu:hover::after, .page.close .active .Profile-menu::after {
    background-position: -324px -37px !important;
}
.page.close .Help-menu:hover::after, .page.close .active .Help-menu::after {
    background-position: -367px -37px !important;
}
.page.close .logo > a {
    position: relative;
    width: 40px;
}
.page.close .logo > a::after {
    right: 0;
}
.page.close .log-out, .page.close .pn-welcome {
    display: none;
}
.page.close .profile > div {
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
.page.close .prof-img img {
    width: 36px;
}
.page.close .prof-name {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4em;
    text-align: center;
}
.page.close .profile {
    padding: 15px 0 28px;
    transition: all 0.4s ease 0s;
}

/** Header */

.btn-sidebar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    display: inline-block;
}
.icon {
    background: #4c5262 none repeat scroll 0 0;
    display: block;
    height: 3px;
    margin: 3px 0;
    padding: 0;
    width: 17px;
}
.btn-wrapper {
    display: inline-block;
}
.header-controls {
    padding-top: 20px;
}
.refresh {
    border-right: 1px solid #e5e9ec;
    display: inline-block;
    float: right;
    padding: 3px 20px 0;
}
.btn-cont {
    display: inline-block;
    max-width: 114px;
    width: 20%;
}
.header-search {
    display: inline-block;
    padding-left: 18px;
    vertical-align: top;
}
.header-search input {
    background: rgba(0, 0, 0, 0) url("img/search.png") no-repeat scroll 0 4px;
    border: medium none;
    color: #8990a0;
    display: inline-block;
    font-size: 14px;
    height: 22px;
    padding: 0 0 0 27px;
    vertical-align: top;
}
.header-profile {
    padding-top: 9px;
    text-align: right;
}
.header-profile > div {
    display: inline-block;
    vertical-align: middle;
}
.hp-img {
    margin-left: 15px;
    max-width: 42px;
}
.hp-name > span {
    background: rgba(0, 0, 0, 0) url("img/arrow.png") no-repeat scroll 95% 50%;
    cursor: pointer;
    display: inline-block;
    padding: 6px 30px 6px 5px;
    border-color: transparent;
    border-image: none;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;

}
.hp-name > span.open {
    background: rgba(0, 0, 0, 0) url("img/arrow-r.png") no-repeat scroll 95% 50%;
    border-color: #c6cacd;
}
.hp-name {
    color: #1b1e25;
    position: relative;
}
.profile-drupdown-list {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #c6cacd;
    border-radius: 0 0 5px 5px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
}
.profile-drupdown-list > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c6cacd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 6px 5px;
}

/** Content */

.content {
    margin-left: 230px;
    overflow: hidden;
    padding-top: 60px;
    transition: all 0.6s ease 0s;
}
.main-content {
    background: #e5e9ec none repeat scroll 0 0;
    padding: 15px;
}
.container {
    background: #fff none repeat scroll 0 0;
    margin-top: 10px;
    padding: 15px;
}
.container-controls {
    margin: 0 -15px;
}

/** Dashboard */

.diagram-item {
    min-height: 242px;
    padding: 45px 0 0;
    text-align: center;
}
.container-diagrams .diagram-item:first-child {
    border-right: 1px solid #e8edf1;
}
.canvas-label {
    padding-top: 26px;
}
.view-details-btn {
    color: #8990a0;
}
.view-details-btn:hover {
    text-decoration: underline;
}
.ct-show-btn.open {
    background-image: url("img/arrow-gray.png");
}
.ct-show-btn {
    background: rgba(0, 0, 0, 0) url("img/arrow-r-gray.png") no-repeat scroll 50% 50%;
    color: #0aa699;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 12px;
    margin-left: 10px;
    opacity: 0.65;
    text-transform: uppercase;
    width: 12px;
}
.cc-label {
    color: #161d24;
    font-size: 16px;
}
.dashboard-container .select-cont {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.select-dashboard {
    width: 150px;
}
.cc-label > span {
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
}
.dash-border {
    border: 1px solid #e8edf1;
    margin-bottom: 20px;
}
.dashboard-container .container-controls {
    border-bottom: 1px solid #e8edf1;
    margin: 0;
    padding: 10px 0;
    position: relative;
    z-index: 30;
}
.cc-btn-list {
    text-align: right;
}
.cc-btn-list > li {
    display: inline-block;
    padding-top: 8px;
    vertical-align: middle;
}
.dashboard-container.row {
    margin: 0 -10px;
}
.dc-col.col-sm-6 {
    padding-left: 10px;
    padding-right: 10px;
}
.select-year {
    width: 77px;
}
.select-progress {
    width: 125px;
}
.view-all-wrap {
    padding: 0 0 15px;
    text-align: center;
}
.view-all-btn {
    font-size: 12px;
    text-decoration: underline;
}
.view-all-btn:hover {
    text-decoration: none;
}
.table-loads-panel-wrap {
    padding: 10px 10px 0;
}
.dashboard-container .table td {
    height: 35px;
}
.table-invoices-panel .th-load {
    width: 24.1%;
}
.table-invoices-panel .th-pickup {
    width: 33.3%;
}
.table-invoices-panel .th-delivery {
    width: 21.7%;
}
.table-invoices-panel .th-status {
    width: 15.6%;
}
.table-progress .th-amount {
    width: 30px;
}
.table-progress .th-name, .table-progress .th-profit, .table-progress .th-pickup {
    width: 12.63%;
}
.table-progress .th-loads {
    width: 11.98%;
}
.table-progress .th-revenue {
    width: 14.29%;
}
.table-progress .th-profper {
    width: 9.23%;
}
.table-progress .th-delivery {
    width: 14%;
}
.table-progress .th-miles {
    width: 5.82%;
}
.sort-down, .sort-up {
    display: inline-block;
    height: 9px;
    width: 15px;
}
.sort-down {
    background: rgba(0, 0, 0, 0) url("img/sort-down.png") repeat scroll 0 0;
}
.sort-up {
    background: rgba(0, 0, 0, 0) url("img/sort-up.png") repeat scroll 0 0;
}
.table th[ng-click] {
    cursor: pointer;
}

/** Canvas Piechart */

.canvas-piechart {
    display: block;
    margin: 0 auto;
}
.doughnut-wrap .chart-container {
    display: inline-block;
    /*height: 92px;*/
    /*width: 92px;*/
}
.doughnut-legend-list li span {
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin-right: 6px;
    width: 8px;
}
.doughnut-legend-list li {
    display: inline-block;
    font-size: 12px;
    margin-right: 13px;
    vertical-align: middle;
}
.dl-item {
    display: inline-block;
    font-size: 14px;
    position: relative;
    width: 100%;
}
.doughnut-wrap {
    border-left: 1px solid #e8edf1;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}
.doughnut-legend-list {
    padding-top: 10px;
}
.doughnut-label-item {
    font-size: 12px;
    position: absolute;
}
.chart-container::after {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 15;
}
.dw-canvas-wrap {
    display: inline-block;
    position: relative;
}
.doughnut-label-item:nth-child(1) {
    right: -63%;
    top: -10%;
}
.doughnut-label-item:nth-child(4) {
    left: -63%;
    top: -10%;
}
.doughnut-label-item:nth-child(2) {
    right: -63%;
    bottom: -10%;
}
.doughnut-label-item:nth-child(3) {
    left: -63%;
    bottom: -10%;
}
.dl-item::after {
    bottom: -10px;
    content: "";
    position: absolute;
}
.doughnut-label-item:nth-child(1) .dl-item::after {
    background: url("img/fig-1.png") repeat scroll 0 0;
    height: 11px;
    right: 7px;
    width: 64px;
}
.doughnut-label-item:nth-child(2) .dl-item::after {
    background: rgba(0, 0, 0, 0) url("img/fig-2.png") repeat scroll 0 0;
    height: 21px;
    right: 7px;
    width: 76px;
    bottom: 0;
}
.doughnut-label-item:nth-child(3) .dl-item::after {
    background: rgba(0, 0, 0, 0) url("img/fig-3.png") repeat scroll 0 0;
    bottom: 0;
    height: 30px;
    left: 7px;
    width: 67px;
}
.doughnut-label-item:nth-child(4) .dl-item::after {
    background: url("img/fig-4.png") repeat scroll 0 0;
    height: 11px;
    left: 7px;
    width: 65px;
}
.chart-container canvas {
    position: relative;
    z-index: 10;
}
.invoices-by-months-wrap .chart-container {
    display: inline-block;
    padding: 0 20px 0 10px;
    width: 100%;
}
.bar-legend-list {
    font-size: 14px;
    padding: 0 20px 20px 40px;
    position: relative;
    z-index: 20;
}
.bar-legend-list li {
    display: inline-block;
    margin-bottom: 5px;
    width: 20%;
}
.bar-legend-list li span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 6px;
    width: 10px;
}
.bar-tablist {
    padding: 25px 20px 0 40px;
    position: relative;
    z-index: 20;
}
.bar-tablist li {
    display: inline-block;
    margin-right: 10px;
}
.bar-tablist li.active {
    color: #0aa699;
    font-weight: bold;
    text-decoration: underline;
}
.bar-canvas-wrap canvas {
    height: 242px !important;
    width: 100% !important;
}
.invoices-by-months-wrap .bar-canvas-wrap canvas {
    height: 265px !important;
    width: 100% !important;
}
.bar-canvas-wrap {
    padding: 0 15px;
}

/** Breadcrumbs */

.breadcrumbs-list {
    font-size: 15px;
    font-weight: 300;
}
.breadcrumbs-list > li {
    display: inline-block;
}
.breadcrumbs-list > li {
    padding-right: 20px;
    position: relative;
}
.breadcrumbs-list > li:last-child {
    padding-right: 0;
}
.breadcrumbs-list > li:after {
    content: ">";
    font-size: 16px;
    height: 10px;
    position: absolute;
    right: 2px;
    top: -1px;
    width: 10px;
}
.breadcrumbs-list > li:last-child::after {
    content: none;
}
.breadcrumbs-list span {
    font-weight: 600;
}

/** Administrations page */

.administration-tabs-wrap .container {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-top: 10px;
    padding: 0;
}
.loads-btn-list {
    text-align: right;
}
.loads-btn-list li {
    display: inline-block;
    margin-left: 10px;
}
.admin-tabs-list-wrap {
    display: table;
    text-align: center;
    width: 100%;
}
.admin-tabs-list {
    background: #d1dadf none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    text-align: left;
}
.admin-tabs-list li {
    color: #8990a0;
    display: inline-block;
}
.admin-tabs-list li.active a {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 0 3px -3px rgba(0, 0, 0, 0.5), 2px 0 3px -3px rgba(0, 0, 0, 0.5);
    color: #000;
    font-weight: 600;
}
.admin-tabs-list li a {
    display: inline-block;
    padding: 10px 18px;
    width: 100%;
}
.panel {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e8edf1;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #e8edf1;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 20px 0;
}
.freq-select, .level-select {
    height: 30px;
}
.freq-select select, .level-select select {
    background-position: 80px 50%;
}

/** Load Page */

.container-toolbar {
    border-bottom: 1px solid #e8edf1;
    color: #8990a0;
    margin: 0 -15px 30px;
    padding: 5px 15px 8px;
}
.container-toolbar.container-bottomtoolbar {
    padding: 20px 15px 14px;
}
.ct-search-wrap, .ct-pagination-wrap {
    font-size: 12px;
    padding: 0;
}
.ct-search-wrap > div {
    padding: 0;
}
.ct-search > input {
    border: 1px solid #e8edf1;
    border-radius: 5px;
    color: #999;
    display: inline-block;
    height: 35px;
    line-height: 33px;
    margin: 0 10px;
    max-width: 140px;
    padding: 0 10px;
    width: 100%;
}
.ct-filter-btn.open {
    background-image: url("img/arrow-close.png");
}
.ct-filter-btn {
    background: rgba(0, 0, 0, 0) url("img/arrow-show.png") no-repeat scroll 100% 6px;
    color: #0aa699;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    padding-right: 20px;
    text-transform: uppercase;
}
.ct-amount-of-items {
    border-right: 1px solid #e5e9ec;
    margin-top: 9px;
    padding-right: 15px !important;
    text-align: right;
}
.pagination > li, .ct-pagination-list > li {
    display: inline-block;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
}
.pagination a, .ct-pagination-list a {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.pagination > li.active a, .pagination > li a:hover, .ct-pagination-list > li.active a, .ct-pagination-list > li a:hover {
    background: #f3f7fa none repeat scroll 0 0;
    border-radius: 5px;
}
.pagination > li:last-child, .pagination > li:first-child {
    display: none;
}
.pagination li:nth-child(2) a {
    background: rgba(0, 0, 0, 0) url("img/prev.png") no-repeat scroll 50% 50%;
    color: transparent;
}
.pagination li:nth-last-child(2) a {
    background: rgba(0, 0, 0, 0) url("img/next.png") no-repeat scroll 50% 50%;
    color: transparent;
}
.ct-pagination-wrap {
    padding-top: 5px;
}
.ct-page-size-wrap {
    line-height: 25px;
    margin-top: -8px;
    padding-right: 0;
    text-align: right;
}
.page-size-select {
    color: #717a89;
    font-size: 16px;
    height: 34px;
    width: 55px;
}
.page-size-select select {
    background-position: 30px 50%;
    color: #717a89;
    font-size: 15px;
    padding: 0 25px 0 3px;
}
.ct-page-size-wrap > span {
    display: inline-block;
    padding: 6px 10px 0 0;
    vertical-align: top;
}
.slideable {
    display: none;
}

/** Table */

.table td {
    border-top: 1px solid #e8edf1;
    height: 51px;
    padding: 5px;
    vertical-align: middle;
}
.th-checkbox {
    padding-left: 5px !important;
    text-align: center !important;
    width: 40px;
}
.table td a:hover {
    text-decoration: none;
}
.table td a {
    color: #0aa699;
    text-decoration: underline;
}
.table th {
    padding: 10px 5px 8px;
    text-align: left;
    text-transform: uppercase;
}
.table tbody tr:hover td {
    background: #f7fafa none repeat scroll 0 0;
}
.container-table {
    border-bottom: 1px solid #e8edf1;
    margin: 0 -15px;
    padding: 0 10px 0;
}
.th-link-item {
    display: inline-block;
    margin: 3px 2px;
}
.th-link-item a {
    background-image: url("img/icon-sprite.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 19px;
}
.link-views {
    background-position: 0 0;
}
.link-docs {
    background-position: -23px 0;
}
.link-twitter {
    background-position: -44px 0;
}
.link-facebook {
    background-position: -2px -22px;
}
.link-linkedin {
    background-position: -23px -22px;
}
.link-q {
    background-position: -44px -22px;
}
.link-edit {
    background-position: 0 -43px;
}
.link-copy {
    background-position: -22px -43px;
}
.link-remove {
    background-position: -44px -43px;
}
.link-check {
    background-position: -20px -66px;
}
.link-mail {
    background-position: -41px -65px;
}
.link-print {
    background-position: 0 -87px;
}
.link-cancel {
    background-position: 2px -66px;
}
.link-lock {
    background-position: -21px -86px;
}
.link-refresh {
    background-position: -42px -86px;
}
.th-link-list {
    display: inline-block;
    text-align: left;
}
.th-link {
    opacity: 0;
    text-align: center;
}
.table tbody tr:hover .th-link {
    opacity: 1;
}
.status-select-wrap {
    height: 30px;
    position: relative;
    width: 100%;
}
.status-select {
    height: 30px;
    width: 100%;
}
.ss-select-link {
    background: #0aa699 none repeat scroll 0 0;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    height: 30px;
    padding-top: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    z-index: 20;
}
.status-select.select-cont::after {
    right: 27px;
}
.load-select select {
    padding-right: 70px;
}
.load-select::after {
    right: 30px;
}
.status-select > select {
    padding-right: 65px;
}
.status-select-wrap > * {
    margin-right: -0.25em;
    vertical-align: top;
}
.ss-select-link.select-edit > img {
    padding-top: 3px;
}
.table select {
    background-position: 87px 50%;
    font-weight: 300;
    padding-left: 5px;
}
.status-select.select-cont {
    border-radius: 5px 0 0 5px;
}
.status-select-inv.select-cont {
    height: 30px;
    width: 105px;
}
.empty-table {
    border-top: 1px solid #e8edf1;
    padding: 15px 0;
    text-align: center;
}
.th-checkbox .checkbox, .th-checkbox .checkbox + span {
    float: none;
    height: 12px;
    margin-bottom: 0;
    margin-top: 0;
    width: 12px;
}
.th-checkbox .checkbox:checked + span::after {
    background: #0aa699 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 6px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
}
.th-checkbox .checkbox:checked + span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: relative;
}
.th-checkbox .checkbox + span {
    border-color: #e8edf1;
    margin: 0 0 0 -10px;
    top: 1px;
}
th.th-checkbox .checkbox + span {
    border-color: #8990a0;
}
.table tr th:first-child, .table tr td:first-child {
    padding-left: 10px;
}
.table-invoises .th-load {
    width: 6.6%;
}
.table-invoises .th-pickup, .table-invoises .th-delivery, .table-invoises .th-customer {
    width: 9.1%;
}
.table-invoises .th-driver {
    width: 11.7%;
}
.table-invoises .th-from, .table-invoises .th-to {
    width: 10.1%;
}
.table-invoises .th-status {
    width: 15.9%;
}
.table-loads .th-invoice, .table-loads .th-paid {
    width: 8.8%;
}
.table-loads .th-invoiced, .table-loads .th-customer {
    width: 9.9%;
}
.table-loads .th-outstanding {
    width: 12.6%;
}
.table-loads .th-total {
    width: 9.5%;
}
.table-loads .th-balance, .table-loads .th-status {
    width: 13.2%;
}
.table-expenses .th-date {
    width: 13.7%;
}
.table-expenses .th-category {
    width: 12%;
}
.table-expenses .th-expenses {
    width: 14.8%;
}
.table-expenses .th-description {
    width: 33.5%;
}
.table-expenses .th-amount {
    width: 9.9%;
}
.table-customer .th-name {
    width: 9.3%;
}
.table-customer .th-address {
    width: 15.4%;
}
.table-customer .th-city, .table-customer .th-zip {
    width: 11.5%;
}
.table-customer .th-state {
    width: 9.9%;
}
.table-customer .th-telephone {
    width: 14.3%;
}
.table-customer .th-mc {
    width: 7.7%;
}
.table-customer .th-broker {
    width: 10.9%;
}
.table-shipper .th-name, .table-shipper .th-city, .table-receiver .th-name, .table-receiver .th-city, .table-broker .th-name, .table-broker .th-city, .table-tms .th-name, .table-tms .th-city {
    width: 14.8%;
}
.table-shipper .th-address, .table-receiver .th-address, .table-broker .th-address, .table-tms .th-address {
    width: 17.6%;
}
.table-shipper .th-zip, .table-receiver .th-zip, .table-broker .th-zip, .table-tms .th-zip {
    width: 16.5%;
}
.table-shipper .th-state, .table-receiver .th-state, .table-broker .th-state, .table-tms .th-state {
    width: 14%;
}
.table-shipper .th-telephone, .table-receiver .th-telephone, .table-broker .th-telephone, .table-tms .th-telephone {
    width: 13.2%;
}
.table-external .th-name {
    width: 7.5%;
}
.table-external .th-address {
    width: 11.8%;
}
.table-external .th-city, .table-external .th-zip {
    width: 7.3%;
}
.table-external .th-state, .table-external .th-dot {
    width: 9.3%;
}
.table-external .th-telephone {
    width: 12%;
}
.table-external .th-liability, .table-external .th-cargo {
    width: 10.7%;
}
.table-external .th-fleet {
    width: 10.1%;
}
.table-driver .th-name {
    width: 7.7%;
}
.table-driver .th-telephone {
    width: 12%;
}
.table-driver .th-email {
    width: 24.5%;
}
.table-driver .th-license {
    width: 10.2%;
}
.table-driver .th-exp, .table-driver .th-drug, .table-driver .th-med {
    width: 13.7%;
}
.table-truck .th-truck {
    width: 8.8%;
}
.table-truck .th-type {
    width: 6%;
}
.table-truck .th-status {
    width: 8.2%;
}
.table-truck .th-license {
    width: 13.7%;
}
.table-truck .th-exp {
    width: 10.4%;
}
.table-truck .th-vin {
    width: 6.6%;
}
.table-truck .th-reg, .table-truck .th-available {
    width: 11%;
}
.table-truck .th-ownership {
    width: 12.6%;
}
.table-trailer .th-trailer, .table-trailer .th-reg {
    width: 11%;
}
.table-trailer .th-type {
    width: 10.4%;
}
.table-trailer .th-status, .table-trailer .th-vin {
    width: 12.1%;
}
.table-trailer .th-license, .table-trailer .th-exp {
    width: 17.6%;
}
.table-document .th-category {
    width: 38%;
}
.table-document .th-type {
    width: 43.2%;
}
.table-alert .th-name {
    width: 45.3%;
}
.table-alert .th-frequency, .table-alert .th-level {
    width: 25.3%;
}
.table-driver-pay .th-verification {
    width: 12.9%;
}
.table-driver-pay .th-load, .table-driver-pay .th-gross {
    width: 8.7%;
}
.table-driver-pay .th-customer, .table-driver-pay .th-empty {
    width: 9.9%;
}
.table-driver-pay .th-delivery {
    width: 8.8%;
}
.table-driver-pay .th-status {
    width: 7.7%;
}
.table-driver-pay .th-loaded {
    width: 10.2%;
}
.table-driver-pay .th-hourly {
    width: 11%;
}
.table-sales-rep .th-load, .table-sales-rep .th-shipped {
    width: 8.8%;
}
.table-sales-rep .th-carrier {
    width: 9.9%;
}
.table-sales-rep .th-customer {
    width: 12.1%;
}
.table-sales-rep .th-origin {
    width: 8.2%;
}
.table-sales-rep .th-destination {
    width: 13.2%;
}
.table-sales-rep .th-delivered, .table-sales-rep .th-carrier, .table-sales-rep .th-advances {
    width: 11.5%;
}
.table-carrier-pay .th-load, .table-carrier-pay .th-origin {
    width: 5.5%;
}
.table-carrier-pay .th-carrier {
    width: 6.8%;
}
.table-carrier-pay .th-customer, .table-carrier-pay .th-shipped {
    width: 8.8%;
}
.table-carrier-pay .th-dest {
    width: 4.6%;
}
.table-carrier-pay .th-delivered {
    width: 8.2%;
}
.table-carrier-pay .th-fee {
    width: 3.3%;
}
.table-carrier-pay .th-advances {
    width: 6.6%;
}
.table-carrier-pay .th-balance {
    width: 12%;
}
.table-carrier-pay .th-bill, .table-carrier-pay .th-received {
    width: 11%;
}
.table-carrier-pay .th-aging {
    width: 4.8%;
}
.table-tax-reports .th-name {
    width: 42.5%;
}
.table-tax-reports .th-year {
    width: 33%;
}
.table-tax-reports .th-gross {
    width: 21%;
}
.table-create-invoise .th-id {
    width: 50px;
}
.table-create-invoise .th-customer {
    width: 35.2%;
}
.table-create-invoise .th-number {
    width: 40%;
}
.table-create-invoise .th-selection {
    width: 19.8%;
}
.table-create-invoise .th-selection .radio, .table-create-invoise .th-selection .radio + span {
    margin-bottom: 0;
}
.table-create-invoises-2 .th-load {
    width: 6.9%;
}
.table-create-invoises-2 .th-pickup, .table-create-invoises-2 .th-delivery {
    width: 9%;
}
.table-create-invoises-2 .th-from, .table-create-invoises-2 .th-to {
    width: 12%;
}
.table-create-invoises-2 .th-bol, .table-create-invoises-2 .th-miles {
    width: 6.3%;
}
.table-create-invoises-2 .th-weight, .table-create-invoises-2 .th-unit {
    width: 7.7%;
}
.table-create-invoises-2 .th-driver {
    width: 13.2%;
}
.table-create-invoises-2 .th-fee {
    width: 6%;
}
.table-create-invoices-3 .th-load, .table-create-invoices-3 .th-po {
    width: 8.2%;
}
.table-create-invoices-3 .th-pickup, .table-create-invoices-3 .th-delivery {
    width: 11.6%;
}
.table-create-invoices-3 .th-from, .table-create-invoices-3 .th-to {
    width: 13.4%;
}
.table-create-invoices-3 .th-info {
    width: 15.6%;
}
.table-create-invoices-3 .th-weight {
    width: 9.9%;
}
.table-create-invoices-3 .th-fee {
    width: 7.6%;
}
.table-category-list .th-category {
    width: 90%;
}

/** Create Invoice Pages */

.table-create-invoices-3 th, .table-create-invoices-3 td {
    border: 1px solid #e8edf1;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.table-create-invoices-3 th {
    padding-top: 20px;
}
.field-row.ifw-row {
    border-top: 1px solid #e8edf1;
    margin: 0 -15px;
    padding: 20px 15px 30px;
}
.crate-table-total {
    border-collapse: collapse;
    margin-left: 66.9%;
    margin-top: 10px;
    width: 33.1%;
}
.crate-table-total tbody td {
    padding: 8px 20px;
}
.crate-table-total tfoot td {
    border-top: 1px solid #e8edf1;
    color: #505358;
    font-size: 24px;
    padding: 7px 20px 21px;
}
.crate-table-total tbody td:first-child {
    width: 77%;
}
.crate-table-total tbody td:last-child {
    width: 23%;
}
.crate-table-total tfoot span {
    display: inline-block;
    margin-left: -25px;
}
.invoice-header h3 {
    color: #505358;
    font-size: 24px;
    font-weight: 500;
}
.invoice-header {
    border-bottom: 1px solid #e8edf1;
    margin: 0 15px;
    padding-bottom: 13px;
}
.tci-item {
    padding-top: 20px;
}
.tci-item h6 {
    border-bottom: 1px solid #e8edf1;
    border-top: 1px solid #e8edf1;
    font-size: 1em;
    margin-bottom: 8px;
    padding: 5px 0;
}
.tci-item-wrap {
    border-bottom: 1px solid #e8edf1;
    margin-bottom: 40px;
    min-height: 130px;
}
.tsi-logo {
    border: 1px solid #e8edf1;
    color: #d4d6dc;
    font-weight: 600;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
}
.tci-item-3 .col-xs-6 {
    padding: 5px 0 0;
}
.table-create-invoices-3-wrap {
    padding: 0 15px 20px;
}

/** Account page */

.account-tabs-wrap .container {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-top: 10px;
    padding: 0;
}
.account-tabs-list-wrap {
    width: 100%;
}
.account-tabs-list {
    background: #d1dadf none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
}
.account-tabs-list li {
    display: inline-block;
    color: #8990a0;
}
.account-tabs-list li.active a {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 0 3px -3px rgba(0, 0, 0, 0.5), 2px 0 3px -3px rgba(0, 0, 0, 0.5);
    color: #000;
    font-weight: 600;
}
.account-tabs-list li a {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
}

/** Reports page */

.mr-check {
    clear: both;
}
.mr-check .checkbox, .mr-check .checkbox + span {
    margin-bottom: 6px;
}

/** Profile page */

.nw-row {
    margin-bottom: 20px;
}

/** Filters */

.filters .label-for, .filters .text, .filters select {
    font-size: 12px;
}
.filters .checkbox {
    margin-bottom: 5px;
    margin-top: 0;
}
.filters input[type="checkbox"] + span {
    margin-right: 3px;
    top: 3px;
}
.green-btn.search-filter-btn {
    height: 32px;
    line-height: 30px;
}
.filter-search {
    text-align: right;
}
.fs-loads .search-filter-btn {
    position: relative;
    top: 50px;
}
.filter-col {
    margin-bottom: 5px;
}
.filters {
    background: #f7fafa none repeat scroll 0 0;
    border-top: 1px solid #e8edf1;
    margin: 0 -15px;
    padding: 20px 15px 15px;
}
.fs-invoices .green-btn.search-filter-btn {
    position: relative;
    top: 22px;
}
.is-broken {
    background: #b9b8b8;
    border-radius: 10px;
    display: inline-block;
    height: 15px;
    margin: 0 6px 0 -15px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 35px;
}
.cb-broken:checked + label > .is-broken {
    background: #3ad2c5 none repeat scroll 0 0;
}
.is-broken::after {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 20px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 20px;
}
.cb-broken:checked + label > .is-broken::after {
    background: #0aa699 none repeat scroll 0 0;
    left: auto;
    right: -2px;
}
.cb-broken + label {
    padding-top: 7px;
}
.filters .form-wrap {
    padding: 5px 0 0;
}
.page .panel .filters {
    margin: 0 -20px;
}
.panel .container-table {
    margin: 0 -20px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
.filter-bottom .checkbox, .filter-bottom .checkbox + span {
    margin-bottom: 0;
}
.filter-bottom .label-for {
    padding-left: 6px;
}

/** Datepicker */

.time-input-wrap datepicker {
    position: relative;
}
.time-input-wrap datepicker::after {
    background: #0AA699 url("img/date.png") no-repeat scroll 50% 50%;
    border-left: 1px solid #e8edf1;
    border-radius: 0 5px 5px 0;
    content: "";
    height: 29px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 31px;
}
.text.ng-touched {
    border-radius: 5px 5px 0 0;
}

/** Steps block */

.invoice-step {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 33%;
}
.is-number {
    background: #fff none repeat scroll 0 0;
    border: 6px solid;
    border-radius: 50%;
    color: #e5eaed;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    line-height: 50px;
    position: relative;
    width: 60px;
    z-index: 4;
}
.invoice-step.checked .is-number {
    background: #0aa699 none repeat scroll 0 0;
    border-color: #53c1b8;
    color: #fff;
}
.is-label {
    color: #e5eaed;
    font-weight: 800;
    padding: 5px 0;
    text-transform: uppercase;
}
.invoice-step.checked .is-label {
    color: #8990a0;
}
.invoice-step.checked.current .is-label {
    color: #0aa699;
}
.invoice-step-2::after, .invoice-step-2::before {
    background: #e5eaed none repeat scroll 0 0;
    content: "";
    height: 6px;
    position: absolute;
    top: 32%;
    width: 100%;
    z-index: 1;
}
.invoice-step::after {
    right: -53%;
}
.invoice-step::before {
    left: -53%;
}
.invoice-step-2.checked.current::before {
    background: #53c1b8 none repeat scroll 0 0;
}
.invoice-step-2.checked.current::after {
    background: #E5EAED none repeat scroll 0 0;
}
.invoice-step-2.checked::after, .invoice-step-2.checked::before {
    background: #53c1b8 none repeat scroll 0 0;
}
.invoice-steps-wrap {
    margin: 0 -10%;
    padding: 30px 0 10px;
}

/** Dispatch Page */

.second-field-row {
    clear: both;
    padding-top: 12px;
}
.second-field-row .col-right {
    padding-right: 0 !important;
}
.field-col .green.btn-text {
    display: inline-block;
    margin-top: 7px;
}

/** Add extermal carriers page */

.ext-left {
    padding-right: 40px !important;
}
.ext-right {
    padding-left: 40px !important;
}
.ext-row {
    position: relative;
}
.ext-btn {
    background: #0aa699 url("img/table-arrow.png") no-repeat scroll 0 0;
    border-radius: 5px;
    height: 40px;
    left: -10px;
    margin: auto;
    position: absolute;
    right: 0;
    width: 40px;
    z-index: 10;
}
.ext-btn-left {
    background-position: 50% 11px;
    margin-top: -25px;
    top: 50%;
}
.ext-btn-right {
    background-position: 50% -30px;
    margin-top: 25px;
    top: 50%;
}
.ext-header > h4 {
    border-bottom: 1px solid #e8edf1;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.ext-col-wrap {
    border: 1px solid #e8edf1;
    border-radius: 5px;
}
.ext-row .checkbox, .ext-row .checkbox + span {
    margin-bottom: 0;
}
.ext-wrap .ext-row {
    margin-bottom: 10px;
}
.ext-wrap {
    min-height: 410px;
    padding: 20px;
}
.ext-search {
    background: rgba(0, 0, 0, 0) url("img/search-gray.png") no-repeat scroll 8px 50%;
    margin-bottom: 15px;
    padding-left: 25px;
}
.ext-footer {
    border-top: 1px solid #e8edf1;
    padding: 20px;
}

/** Input file */

.fileform {
    background-color: #ffffff;
    border: 1px solid #e8edf1;
    border-radius: 5px;
    height: 60px;
    margin-top: 9px;
    overflow: hidden;
    padding-right: 55px;
    padding-top: 22px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.fileform .selectbutton {
    background-color: #0aa699;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    height: 100%;
    line-height: 20px;
    overflow: hidden;
    padding: 9px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 55px;
}
.fileform input {
    font-size: 150px;
    height: 100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    z-index: 20;
    cursor: pointer;
}
.fileform.little-fileform {
    height: 31px;
    margin: 0;
    padding-left: 10px;
    padding-right: 33px;
    padding-top: 6px;
    text-align: left;
}
.fileform.little-fileform .selectbutton {
    padding-top: 6px;
    width: 33px;
}

/** Popups */

.popup-wrap {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.popup {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8edf1;
    border-radius: 5px;
    margin: 10% auto 0;
    max-width: 400px;
}
.popup-header {
    border-bottom: 1px solid #e8edf1;
    text-align: center;
}
.popup-footer {
    border-top: 1px solid #e8edf1;
    padding: 11px;
    text-align: center;
}
.load-popup {
    text-align: center;
}
.popup-header h4 {
    font-size: 28px;
    font-weight: 300;
    padding: 10px;
}
.pf-link-list > li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}
.popup-content {
    padding: 25px 20px;
}
.popup-wrap.open {
    display: block;
}
.invoice-popup textarea {
    height: 80px;
}
.invoice-popup .textarea-wrap {
    margin-bottom: 15px;
}
.invoice-popup .popup-content {
    padding: 10px 20px;
}

/** Time picker */

.tp-hours {
    background: #e8edf1 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 156px;
    position: relative;
    width: 156px;
}
.time-picker-wrap {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8edf1;
    border-radius: 0 0 5px 5px;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
    z-index: 10;
}
.tp-minutes {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 110px;
    margin-top: 24px;
    position: relative;
    width: 110px;
}
.th-hour {
    color: #647994;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 15px;
}
.th-hour-1 {
    right: 36px;
    top: 10px;
}
.th-hour-12 {
    left: 0;
    margin: auto;
    right: 0;
    top: 2px;
}
.th-hour-6 {
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
}
.th-hour-9 {
    bottom: 0;
    left: 4px;
    margin: auto;
    top: 0;
}
.th-hour-3 {
    bottom: 0;
    margin: auto;
    right: 4px;
    top: 0;
}
.th-hour-2 {
    right: 12px;
    top: 35px;
}
.th-hour-11 {
    left: 36px;
    top: 10px;
}
.th-hour-10 {
    left: 12px;
    top: 35px;
}
.th-hour.th-hour-7 {
    bottom: 10px;
    left: 36px;
}
.th-hour-8 {
    bottom: 35px;
    left: 12px;
}
.th-hour-4 {
    bottom: 35px;
    right: 12px;
}
.th-hour-5 {
    bottom: 10px;
    right: 36px;
}
.th-minute {
    color: #94999f;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    width: 15px;
}
.th-minute-1 {
    right: 27px;
    top: 10px;
}
.th-minute-12 {
    left: 0;
    margin: auto;
    right: 0;
    top: 4px;
}
.th-minute-6 {
    bottom: 2px;
    left: 0;
    margin: auto;
    right: 0;
}
.th-minute-9 {
    bottom: 0;
    left: 4px;
    margin: auto;
    top: 0;
}
.th-minute-3 {
    bottom: 0;
    margin: auto;
    right: 4px;
    top: 0;
}
.th-minute-2 {
    right: 12px;
    top: 28px;
}
.th-minute-11 {
    left: 27px;
    top: 10px;
}
.th-minute-10 {
    left: 12px;
    top: 28px;
}
.th-minute-7 {
    bottom: 10px;
    left: 27px;
}
.th-minute-8 {
    bottom: 28px;
    left: 12px;
}
.th-minute-4 {
    bottom: 28px;
    right: 12px;
}
.th-minute-5 {
    bottom: 10px;
    right: 27px;
}
.tp-am, .tp-pn {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 29px;
}
.tp-am {
    float: left;
}
.tp-pn {
    float: right;
}
.tp-time-periods {
    height: 29px;
}
.time-picker {
    margin: 0 auto;
    width: 178px;
}
.tp-am.active, .tp-pn.active {
    background: #0aa699 none repeat scroll 0 0;
    color: #fff;
}
.th-hour.active, .th-minute.active {
    color: #0aa699;
}
.time-input-wrap.time timepicker {
    display: block;
    position: relative;
}
.time-input-wrap timepicker::after {
    background: #0aa699 url("img/date.png") no-repeat scroll 50% 50%;
    border-left: 1px solid #e8edf1;
    border-radius: 0 5px 5px 0;
    content: "";
    height: 29px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 31px;
}