<div class="dispatch-wrap form-wrap">
    <div class="aw-block">
        <header class="aw-tetle">
            <h4>Load Information</h4>
        </header>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Load Number <span class="red">*</span></label>
                <input type="text" class="text" />
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <label class="label">P.O. Number</label>
                    <input type="text" class="text" />
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right ">
                    <label class="label">Load Status</label>
                    <div class="load-select select-cont full-select">
                        <select>
                            <option>Select Status</option>
                            <option value="1">Status 1</option>
                            <option value="2">Status 2</option>
                            <option value="3">Status 3</option>
                        </select>
                        <a class="ss-select-link" href><img src="img/rounds.png" alt="..."/></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <label class="label label-wr">Customer Bill To <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-9 aw-left col-left">
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Address</option>
                            <option value="1">Address 1</option>
                            <option value="2">Address 2</option>
                            <option value="3">Address 3</option>
                        </select>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-3 aw-right col-right">
                    <a class="green btn-text cap" href><img src="./img/add-green.png" alt="add"/>Add Customer</a>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <label class="label">Customer Contact #1</label>
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Address</option>
                            <option value="1">Address 1</option>
                            <option value="2">Address 2</option>
                            <option value="3">Address 3</option>
                        </select>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <label class="label">Customer Contact #2</label>
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Address</option>
                            <option value="1">Address 1</option>
                            <option value="2">Address 2</option>
                            <option value="3">Address 3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Dispatcher</label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select Dispatcher</option>
                        <option value="1">Dispatcher 1</option>
                        <option value="2">Dispatcher 2</option>
                        <option value="3">Dispatcher 3</option>
                    </select>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">Sales Rep.</label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select Sales Rep.</option>
                        <option value="1">Sales Rep. 1</option>
                        <option value="2">Sales Rep. 2</option>
                        <option value="3">Sales Rep. 3</option>
                    </select>
                </div>
            </div>
        </div>
        <hr/>
        <div class="aw-row field-row row center">
            <span class="upper up-title">
                <a class="green btn-text" href="">Fees</a>
            </span>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <label class="label label-wr">Primary Fee <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Fee</option>
                            <option value="1">Fee 1</option>
                            <option value="2">Fee 2</option>
                            <option value="3">Fee 3</option>
                        </select>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right row">
                    <div class="aw-col field-col col-sm-6 aw-left col-left">
                        <input type="text" class="text" placeholder="Miles" />
                    </div>
                    <div class="aw-col field-col col-sm-6 aw-right col-right">
                        <input type="text" class="text" placeholder="$ 0.00"/>
                    </div>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <label class="label label-wr">Fuel Surcharge <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Fee</option>
                            <option value="1">Fee 1</option>
                            <option value="2">Fee 2</option>
                            <option value="3">Fee 3</option>
                        </select>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right row">
                    <div class="aw-col field-col col-sm-6 aw-left col-left">
                        <input type="text" class="text" placeholder="Miles" />
                    </div>
                    <div class="aw-col field-col col-sm-6 aw-right col-right">
                        <input type="text" class="text" placeholder="$ 0.00"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <label class="label label-wr">Lumper Fee <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="Quantity" />
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <input type="text" class="text" placeholder="$ 0.00"/>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <label class="label label-wr">Toll Fee <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="Quantity" />
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <input type="text" class="text" placeholder="$ 0.00"/>
                </div>
            </div>
        </div>

        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <label class="label label-wr">Other Fee</label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="Fee name"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <input type="text" class="text" placeholder="Quantity"/>
                </div>
                <div class="field-row second-field-row clearfix">
                    <div class="aw-col field-col col-sm-6 aw-left col-left">
                        <input type="text" class="text" placeholder="Fee name"/>
                    </div>
                    <div class="aw-col field-col col-sm-6 aw-right col-right">
                        <input type="text" class="text" placeholder="Quantity"/>
                    </div>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <label class="label label-wr"></label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="$ 0.00"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                </div>
                <div class="field-row second-field-row clearfix">
                    <div class="aw-col field-col col-sm-6 aw-left col-left">
                        <input type="text" class="text" placeholder="$ 0.00"/>
                    </div>
                    <div class="aw-col field-col col-sm-6 aw-right col-right">
                        <a class="green cap btn-text margin-right-10" href><img src="./img/add-green.png" alt="add"/>Add More</a>
                        <a class="green cap btn-text" href><img src="./img/remove-green.png" alt="add"/>Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Total Fee <span class="red">*</span></label>
                <input type="text" class="text" placeholder="$ 0.00"/>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <label class="label label-wr">Gain <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="$ 0.00"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <input type="text" class="text" placeholder="$ 0.00"/>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Final Fee <span class="red">*</span></label>
                <input type="text" class="text" placeholder="$ 0.00"/>
            </div>
        </div>
        <hr/>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left right">
                <span class="upper up-title">
                    <a class="green btn-text cap" href>Carrier</a>
                </span>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <span class="upper up-title">Driver</span>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <div class="aw-col field-col col-sm-9 aw-left col-left">
                    <label class="label">Carrier</label>
                    <div class="load-select full-select select-cont">
                        <select>
                            <option>Select Carrier</option>
                            <option value="1">Carrier 1</option>
                            <option value="2">Carrier 2</option>
                            <option value="3">Carrier 3</option>
                        </select>
                        <a class="ss-select-link select-edit" href><img src="img/edit.png" alt="edit"/></a>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-3 aw-right col-right">
                    <label class="label"></label>
                    <a class="green btn-text cap" href><img src="./img/add-green.png" alt="add"/>Add Carrier</a>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <label class="label">Equipment Type</label>
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Type</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                        </select>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <label class="label label-wr">Carrier Fee</label>
                    <div class="aw-col field-col col-sm-6 aw-left col-left">
                        <input type="text" class="text" placeholder="Miles" />
                    </div>
                    <div class="aw-col field-col col-sm-6 aw-right col-right">
                        <input type="text" class="text" placeholder="$ 0.00"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <label class="label label-wr">Lumper Fee <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="Quantity"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <input type="text" class="text" placeholder="$ 0.00"/>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <label class="label label-wr">Toll Fee <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="Quantity"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <input type="text" class="text" placeholder="$ 0.00"/>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <div class="aw-col field-col col-sm-6 aw-left col-left row">
                    <label class="label">Advanced Payment <span class="red">*</span></label>
                    <input type="text" class="text"  placeholder="$ 0.00"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <label class="label">Advanced Payment For</label>
                    <input type="text" class="text" placeholder="Quantity"/>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <label class="label">Advance Payment Date <span class="red">*</span></label>
                    <div class="time-input-wrap">
                        <datepicker date-format="{{pattern}}">
                            <input ng-model="date" type="text" class="text" placeholder="Date"/>
                        </datepicker>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <label class="label">Advance Payment Ref# <span class="red">*</span></label>
                    <input type="text" class="text" placeholder="$ 0.00"/>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Total Fee <span class="red">*</span></label>
                <input type="text" class="text" placeholder="$ 0.00"/>
            </div>
        </div>
        <hr/>
        <div class="aw-row field-row row">
            <label class="label label-wr">Documents</label>
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <div class="select-cont full-select">
                    <select>
                        <option>Select Document</option>
                        <option value="1">Sales Document 1</option>
                        <option value="2">Sales Document 2</option>
                        <option value="3">Sales Document 3</option>
                    </select>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="file" class="file" />
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <a class="green btn-text cap" href><img src="./img/add-green.png" alt="add"/>Add More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="aw-block">
        <header class="aw-tetle">
            <h4>Shipper Information</h4>
        </header>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <label class="label label-wr">Shipper Name <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-9 aw-left col-left">
                    <div class="status-select select-cont full-select">
                        <select>
                            <option>Select Shipper</option>
                            <option value="1">Shipper 1</option>
                            <option value="2">Shipper 2</option>
                            <option value="3">Shipper 3</option>
                        </select>
                    </div>
                    <a class="ss-select-link" href><img src="img/edit.png" alt="edit"/></a>
                </div>
                <div class="aw-col field-col col-sm-3 aw-right col-right">
                    <a class="green btn-text cap" href><img src="./img/add-green.png" alt="add"/>Add Shipper</a>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">P.O. Number</label>
                <input type="text" class="text" />
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Shipper Contact #1</label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select Contact</option>
                        <option value="1">Sales Contact 1</option>
                        <option value="2">Sales Contact 2</option>
                        <option value="3">Sales Contact 3</option>
                    </select>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">Shipper Contact #2</label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select Contact</option>
                        <option value="1">Sales Contact 1</option>
                        <option value="2">Sales Contact 2</option>
                        <option value="3">Sales Contact 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <label class="label label-wr">Delivery <span class="red">*</span></label>
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <div class="time-input-wrap">
                        <datepicker date-format="{{pattern}}">
                            <input ng-model="date" type="text" class="text" placeholder="Invoice date"/>
                        </datepicker>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <div class="time-input-wrap time">
                        Time
                    </div>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <div class="time-input-wrap">
                        <datepicker date-format="{{pattern}}">
                            <input ng-model="date" type="text" class="text" placeholder="Invoice date"/>
                        </datepicker>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <div class="time-input-wrap time">
                        Time
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Type</option>
                            <option value="1">Sales Type 1</option>
                            <option value="2">Sales Type 2</option>
                            <option value="3">Sales Type 3</option>
                        </select>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <input type="text" class="text" placeholder="Quantity"/>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="Weight, lbl"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <a class="green btn-text cap" href><img src="./img/add-green.png" alt="add"/>Add More</a>
                </div>
            </div>
        </div>
        <div class="aw-row field-row">
            <div class="field-col">
                <label class="label">Commodity</label>
                <div class="textarea-wrap"><textarea></textarea></div>
            </div>
        </div>
        <div class="aw-row field-row">
            <div class="field-col">
                <label class="label">Pickup Comments (Not shown on Invoice)</label>
                <div class="textarea-wrap"><textarea></textarea></div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <label class="label label-wr">Customer Broker</label>
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <div class="aw-col field-col col-sm-9 aw-left col-left">
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Customer Broker</option>
                            <option value="1">Sales Broker 1</option>
                            <option value="2">Sales Broker 2</option>
                            <option value="3">Sales Broker 3</option>
                        </select>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-3 aw-right col-right">
                    <a class="green btn-text cap" href><img src="./img/add-green.png" alt="add"/>Add Customer Broker</a>
                </div>
            </div>
        </div>
    </div>
    <div class="aw-block">
        <header class="aw-tetle">
            <h4>Shipper Information</h4>
        </header>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <label class="label label-wr">Shipper Name <span class="red">*</span></label>
                <div class="aw-col field-col col-sm-9 aw-left col-left">
                    <div class="status-select select-cont full-select">
                        <select>
                            <option>Select Shipper</option>
                            <option value="1">Shipper 1</option>
                            <option value="2">Shipper 2</option>
                            <option value="3">Shipper 3</option>
                        </select>
                    </div>
                    <a class="ss-select-link" href><img src="img/edit.png" alt="edit"/></a>
                </div>
                <div class="aw-col field-col col-sm-3 aw-right col-right">
                    <a class="green btn-text cap" href><img src="./img/add-green.png" alt="add"/>Add Shipper</a>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">P.O. Number</label>
                <input type="text" class="text" />
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Shipper Contact #1</label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select Contact</option>
                        <option value="1">Sales Contact 1</option>
                        <option value="2">Sales Contact 2</option>
                        <option value="3">Sales Contact 3</option>
                    </select>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">Shipper Contact #2</label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select Contact</option>
                        <option value="1">Sales Contact 1</option>
                        <option value="2">Sales Contact 2</option>
                        <option value="3">Sales Contact 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <label class="label label-wr">Delivery <span class="red">*</span></label>
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <div class="time-input-wrap">
                        <datepicker date-format="{{pattern}}">
                            <input ng-model="date" type="text" class="text" placeholder="Invoice date"/>
                        </datepicker>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <div class="time-input-wrap time">
                        Time
                    </div>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <div class="time-input-wrap">
                        <datepicker date-format="{{pattern}}">
                            <input ng-model="date" type="text" class="text" placeholder="Invoice date"/>
                        </datepicker>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <div class="time-input-wrap time">
                        Time
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <div class="select-cont full-select">
                        <select>
                            <option>Select Type</option>
                            <option value="1">Sales Type 1</option>
                            <option value="2">Sales Type 2</option>
                            <option value="3">Sales Type 3</option>
                        </select>
                    </div>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <input type="text" class="text" placeholder="Quantity"/>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <input type="text" class="text" placeholder="Weight, lbl"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <a class="green btn-text cap" href><img src="./img/add-green.png" alt="add"/>Add More</a>
                </div>
            </div>
        </div>
        <div class="aw-row field-row">
            <div class="field-col">
                <label class="label">Commodity</label>
                <div class="textarea-wrap"><textarea></textarea></div>
            </div>
        </div>
        <div class="aw-row field-row">
            <div class="field-col">
                <label class="label">Pickup Comments (Not shown on Invoice)</label>
                <div class="textarea-wrap"><textarea></textarea></div>
            </div>
        </div>
    </div>
</div>