<div class="account-tabs-wrap" ng-controller="ReportsTabCtrl as panel">

    <div class="breadcrumbs">
        <ul class="breadcrumbs-list">
            <li>YOU ARE HERE</li>
            <li><span>Reports</span></li>
        </ul>
    </div>

    <div class="container-controls" ng-repeat="item in panel.items">
        <div class="panel-controls row" ng-show="panel.isSelected(item.id)">
            <div class="col-xs-6 cc-label">
                <h2 class="title">{{item.title}}</h2>
            </div>
            <div class="col-xs-6 cc-btn">
                <ul class="loads-btn-list">
                    <li ng-repeat="button in item.buttons"><a class="green-btn" href="#"><img ng-src="{{button.src}}" alt="add"/>{{button.label}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="account-tabs-list-wrap">
            <ul class="account-tabs-list">
                <li ng-repeat="item in panel.items" ng-class="{ active: panel.isSelected(item.id) }">
                    <a href ng-click="panel.selectTab(item.id)">{{item.title}}</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="panel" ng-show="panel.isSelected(1)">
        <manage-reports></manage-reports>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
        <tax-reports></tax-reports>
    </div>
</div>