<div class="invoice-popup">
    <header class="popup-header">
        <h4>Add Expense Category</h4>
    </header>
    <section class="popup-content">
        <div class="form-wrap">
            <div class="aw-row field-row">
                <div class="aw-col field-col">
                    <label class="label">Category Name <span class="red">*</span></label>
                    <input type="text" class="text" />
                </div>
            </div>
        </div>
    </section>
    <footer class="popup-footer">
        <ul class="pf-link-list">
            <li><a class="white-btn" href ng-click="popup.closePopup()">Cancel</a></li>
            <li><a class="green-btn" href ng-click="popup.closePopup()"><img alt="save" src="./img/save.png">Save</a></li>
        </ul>
    </footer>
</div>
