<div class="load-popup">
    <header class="popup-header">
        <h4>Confirm Status Change</h4>
    </header>
    <section class="popup-content">
        <p>Are you sure you want to change the status of Load <strong>#1022</strong>
            from <strong>Open</strong> to <strong>Refused</strong>?</p>
    </section>

    <footer class="popup-footer">
        <ul class="pf-link-list">
            <li><a class="white-btn" href ng-click="popup.closePopup()">Cancel</a></li>
            <li><a class="green-btn" href ng-click="popup.closePopup()"><img alt="save" src="./img/confirm.png">Confirm</a></li>
        </ul>
    </footer>
</div>
