<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li>YOU ARE HERE</li>
        <li><span>Dashboard</span></li>
    </ul>
</div>
<h1 class="title">Dashboard</h1>
<div class="container">
    <div class="dashboard-container dash-border">
        <loads-stats></loads-stats>
    </div>
    <div class="dashboard-container row">
        <div class="dc-col col-md-6">
            <loads-panel></loads-panel>
        </div>
        <div class="dc-col col-md-6">
            <loads-by-months></loads-by-months>
        </div>
    </div>
    <div class="dashboard-container dash-border">
        <invoices-stats></invoices-stats>
    </div>
    <div class="dashboard-container row">
        <div class="dc-col col-md-6">
            <invoices-panel></invoices-panel>
        </div>
        <div class="dc-col col-md-6">
            <invoices-by-months></invoices-by-months>
        </div>
    </div>
    <div class="dashboard-container dash-border">
        <progress-panel></progress-panel>
    </div>
</div>
