<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li>YOU ARE HERE</li>
        <li><span>Invoices</span></li>
    </ul>
</div>
<div class="container-controls row">
    <div class="col-xs-4 cc-label">
        <h1 class="title">Invoices</h1>
    </div>
    <div class="col-xs-8 cc-btn">
        <ul class="loads-btn-list">
            <li><a class="green-btn" href><img src="img/print.png" alt="print"/>print</a></li>
            <li><a class="green-btn" href="/tms/v2/#/invoices/create-invoice"><img src="img/add.png" alt="add"/>create invoice</a></li>
        </ul>
    </div>
</div>
<div class="container border" ng-controller="InvoicesPageTableCtrl as table">
    <div class="container-table">
        <table-invoices></table-invoices>
    </div>
    <div class="container-toolbar container-bottomtoolbar row">
        <bottom-toolbar></bottom-toolbar>
    </div>
</div>