<div class="account-wrap form-wrap">
    <div class="aw-block">
        <header class="aw-tetle">
            <h4>Company details</h4>
        </header>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Company name <span class="red">*</span></label>
                <input type="text" class="text" />
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <div class="aw-col field-col col-xs-6 col-lg-5 aw-left col-left">
                    <label class="label">Logo</label>
                    <input type="checkbox" class="checkbox" value="include logo" name="include logo" id="include-logo"/>
                    <span></span>
                    <label class="label-for" for="include-logo">Include Logo in Printing</label>
                </div>
                <div class="aw-col field-col col-xs-6 col-lg-7 aw-right col-right ">
                    <div class="input-file">
                        <logo-file-load></logo-file-load>
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Phone number <span class="red">*</span></label>
                <input type="text" class="text" />
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <label class="label">Toll Free</label>
                    <input type="text" class="text" />
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <label class="label">Fax number</label>
                    <input type="text" class="text" />
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Primary Contact Name <span class="red">*</span></label>
                <input type="text" class="text" />
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right row">
                <div class="aw-col field-col col-sm-6 aw-right col-right row">
                    <div class="aw-col field-col col-sm-6 aw-left col-left">
                        <label class="label">Email <span class="red">*</span></label>
                        <input type="text" class="text" />
                    </div>
                    <div class="aw-col field-col col-sm-6 aw-right col-right">
                        <label class="label">FEI Number</label>
                        <input type="text" class="text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aw-block">
        <header class="aw-tetle">
            <h4>Mailing address</h4>
        </header>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Address Line 1 <span class="red">*</span></label>
                <input type="text" class="text" />
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">Address Line 2</label>
                <input type="text" class="text" />
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Country <span class="red">*</span></label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select Country</option>
                        <option value="1">Country 1</option>
                        <option value="2">Country 2</option>
                        <option value="3">Country 3</option>
                    </select>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">State <span class="red">*</span></label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select State</option>
                        <option value="1">State 1</option>
                        <option value="2">State 2</option>
                        <option value="3">State 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <label class="label">City <span class="red">*</span></label>
                    <input type="text" class="text" />
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <label class="label">Zip</label>
                    <input type="text" class="text" />
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">Billing Address</label>
                <input type="checkbox" class="checkbox" name="billing-address" id="billing-address"/>
                <span></span>
                <label class="label-for" for="billing-address">Billing Address is the same as Mailing Address</label>
            </div>
        </div>
    </div>
    <div class="aw-block">
        <header class="aw-tetle">
            <h4>Billing address</h4>
        </header>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Address Line 1 <span class="red">*</span></label>
                <input type="text" class="text" />
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">Address Line 2</label>
                <input type="text" class="text" />
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left">
                <label class="label">Country <span class="red">*</span></label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select Country</option>
                        <option value="1">Country 1</option>
                        <option value="2">Country 2</option>
                        <option value="3">Country 3</option>
                    </select>
                </div>
            </div>
            <div class="aw-col field-col col-sm-6 aw-right col-right">
                <label class="label">State <span class="red">*</span></label>
                <div class="select-cont full-select">
                    <select>
                        <option>Select State</option>
                        <option value="1">State 1</option>
                        <option value="2">State 2</option>
                        <option value="3">State 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="aw-row field-row row">
            <div class="aw-col field-col col-sm-6 aw-left col-left row">
                <div class="aw-col field-col col-sm-6 aw-left col-left">
                    <label class="label">City <span class="red">*</span></label>
                    <input type="text" class="text"/>
                </div>
                <div class="aw-col field-col col-sm-6 aw-right col-right">
                    <label class="label">Zip</label>
                    <input type="text" class="text"/>
                </div>
            </div>
        </div>
    </div>
    <div class="aw-block">
        <header class="aw-tetle">
            <h4>Mileage system</h4>
        </header>
        <div class="aw-row field-row field-row row">
            <div class="aw-col field-col col-sm-3 col-xs-6">
                <label class="label">Miles</label>
                <input type="radio" class="radio" name="miles" id="promiles" value="promiles"/>
                <span></span>
                <label class="label-for" for="promiles">ProMiles</label>
            </div>
            <div class="aw-col field-col col-sm-3 col-xs-6">
                <label class="label"></label>
                <input type="radio" class="radio" name="miles" id="pc" value="pc"/>
                <span></span>
                <label class="label-for" for="pc">PC<span class="sub">*</span>Miler</label>
            </div>
            <div class="aw-col field-col col-sm-3 col-xs-6">
                <label class="label">Toll Roads</label>
                <input type="checkbox" class="checkbox" name="avoid" id="avoid" />
                <span></span>
                <label class="label-for" for="avoid">Avoid Toll Roads</label>
            </div>
            <div class="aw-col field-col col-sm-3 col-xs-6">
                <label class="label">Borders</label>
                <input type="checkbox" class="checkbox" name="borders" id="borders" />
                <span></span>
                <label class="label-for" for="borders">Open Borders</label>
            </div>
        </div>
    </div>
</div>