<div class="ifta-wrap form-wrap">
    <div class="field-row ifw-row row">
        <div class="ifw-col field-col field-col-left col-left col-sm-6">
            <label class="label">Legal Business Name</label>
            <input type="text" class="text" />
        </div>
        <div class="ifw-col field-col field-col-right col-right col-sm-6">
            <label class="label">DOT Number</label>
            <input type="text" class="text" />
        </div>
    </div>
    <div class="field-row ifw-row row">
        <div class="ifw-col field-col field-col-left col-left col-sm-6">
            <label class="label">Doing Business AS (DBA)</label>
            <input type="text" class="text" />
        </div>
        <div class="ifw-col field-col field-col-right col-right col-sm-6">
            <label class="label">MC Number</label>
            <input type="text" class="text" />
        </div>
    </div>
    <div class="field-row ifw-row row">
        <div class="ifw-col field-col field-col-left col-left col-sm-6">
            <label class="label">IFTA State Registration</label>
            <div class="select-cont full-select">
                <select>
                    <option>Select State</option>
                    <option value="1">State 1</option>
                    <option value="2">State 2</option>
                    <option value="3">State 3</option>
                </select>
            </div>
        </div>
        <div class="ifw-col field-col field-col-right col-right col-sm-6">
            <label class="label">Validate Empty Miles On</label>
            <div class="select-cont full-select">
                <select>
                    <option>Select Option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field-row ifw-row row">
        <div class="ifw-col field-col field-col-left col-left col-sm-6">
            <label class="label">IFTA Account Number</label>
            <input type="text" class="text" />
        </div>
        <div class="ifw-col field-col field-col-right col-right col-sm-6">
            <label class="label">Next Trip Number</label>
            <input type="text" class="text" />
        </div>
    </div>
    <div class="field-row ifw-row row">
        <div class="ifw-col field-col field-col-left col-left col-sm-6 row">
            <div class="col-sm-6 row">
                <label class="label label-wrl">Mass Toll Exemption</label>
                <div class="col-xs-6">
                    <input type="radio" class="radio" name="mass-toll" id="mass-toll-yes" value="yes"/>
                    <span></span>
                    <label class="label-for" for="mass-toll-yes">Yes</label>
                </div>
                <div class="col-xs-6">
                    <input type="radio" class="radio" name="mass-toll" id="mass-toll-no" value="no"/>
                    <span></span>
                    <label class="label-for" for="mass-toll-no">No</label>
                </div>
            </div>
            <div class="col-sm-6 row">
                <label class="label label-wr">Mass Toll Exemption</label>
                <div class="col-xs-6">
                    <input type="radio" class="radio" name="validation" id="validation-yes" value="yes"/>
                    <span></span>
                    <label class="label-for" for="validation-yes">Yes</label>
                </div>
                <div class="col-xs-6">
                    <input type="radio" class="radio" name="validation" id="validation-no" value="no"/>
                    <span></span>
                    <label class="label-for" for="validation-no">No</label>
                </div>
            </div>
        </div>
    </div>
</div>