<div class="setting-wrap form-wrap">
    <div class="sw-row row field-row">
        <div class="field-col sw-col col-sm-3 col-xs-6">
            <label class="label">Time Zone</label>
            <div class="select-cont full-select">
                <select>
                    <option>Select Time Zone</option>
                    <option value="1">Time Zone 1</option>
                    <option value="2">Time Zone 2</option>
                    <option value="3">Time Zone 3</option>
                </select>
            </div>
        </div>
        <div class="field-col sw-col col-sm-3 col-xs-6">
            <label class="label">Records Per Page</label>
            <div class="select-cont full-select">
                <select>
                    <option>Select Amount</option>
                    <option value="1">Amount 1</option>
                    <option value="2">Amount 2</option>
                    <option value="3">Amount 3</option>
                </select>
            </div>
        </div>
        <div class="field-col sw-col col-sm-3 col-xs-6">
            <label class="label">Load Conformation Note Length</label>
            <div class="select-cont full-select">
                <select>
                    <option>Select Length</option>
                    <option value="1">Length 1</option>
                    <option value="2">Length 2</option>
                    <option value="3">Length 3</option>
                </select>
            </div>
        </div>
        <div class="field-col sw-col col-sm-3 col-xs-6">
            <label class="label">Months Date Range</label>
            <div class="select-cont full-select">
                <select>
                    <option>Select Amount</option>
                    <option value="1">Amount 1</option>
                    <option value="2">Amount 2</option>
                    <option value="3">Amount 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="sw-row row field-row">
        <div class="field-col sw-col col-lg-3 col-xs-6">
            <label class="label">Quick TSI Footer</label>
            <input type="checkbox" class="checkbox" id="tsi-footer"  />
            <span></span>
            <label class="label-for" for="tsi-footer">Show Quick TSI on printouts</label>
        </div>
        <div class="field-col sw-col col-lg-3 col-xs-6">
            <label class="label">Start Location</label>
            <input type="checkbox" class="checkbox" id="start-location" />
            <span></span>

            <label class="label-for" for="start-location">Suggest start location for trucks</label>
        </div>
        <div class="field-col sw-col col-lg-3 col-xs-6">
            <label class="label">Work Order</label>
            <input type="checkbox" class="checkbox" id="work-order" />
            <span></span>
            <label class="label-for" for="work-order">Show W/O on dispatch board</label>
        </div>
        <div class="field-col sw-col col-lg-3 col-xs-6">
            <label class="label">Statistics</label>
            <input type="checkbox" class="checkbox" id="statistics" />
            <span></span>
            <label class="label-for" for="statistics">Show 13 vs 12 Months of Data</label>
        </div>
        <div class="field-col sw-col col-lg-3 col-xs-6">
            <label class="label">Load Search</label>
            <input type="checkbox" class="checkbox" id="load-search" />
            <span></span>
            <label class="label-for" for="load-search">Search by ship date</label>
        </div>
    </div>
    <div class="sw-row field-row">
        <div class="field-col">
            <label class="label">Invoice Comments</label>
            <div class="textarea-wrap"><textarea></textarea></div>
        </div>
    </div>
    <div class="sw-row field-row">
        <div class="field-col">
            <label class="label">Load Confirmation Terms & Conditions</label>
            <div class="textarea-wrap"><textarea></textarea></div>
        </div>
    </div>
</div>