<div class="form-wrap">
    <div class="filter-row field-row row">
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <input type="text" class="text" placeholder="Truck Type" />
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <div class="select-cont full-select">
                <select>
                    <option>Select Status</option>
                    <option value="1">Status 1</option>
                    <option value="2">Status 2</option>
                    <option value="3">Status 3</option>
                </select>
            </div>
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <div class="select-cont full-select">
                <select>
                    <option>Select Registered State</option>
                    <option value="1">Registered State 1</option>
                    <option value="2">Registered State 2</option>
                    <option value="3">Registered State 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="filter-row field-row row">
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <div class="select-cont full-select">
                <select>
                    <option>Select Ownership</option>
                    <option value="1">Ownership 1</option>
                    <option value="2">Ownership 2</option>
                    <option value="3">Ownership 3</option>
                </select>
            </div>
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left row">
            <div class="field-col col-sm-6">
                <input type="text" class="text" placeholder="License Plate" />
            </div>
            <div class="field-col col-sm-6">
                <input type="text" class="text" placeholder="VIN #" />
            </div>
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left row">
            <div class="field-col col-sm-6 available-inp">
                <input class="checkbox cb-broken" type="checkbox" id="available"/><label for="available" class="label-for"><span class="is-broken"></span> Is Available?</label>
            </div>
            <div class="field-col col-sm-6 filter-search">
                <a class="green-btn search-filter-btn" href><img src="img/srch.png" alt="search"/>Search</a>
            </div>
        </div>
    </div>
</div>