<div class="form-wrap">
    <div class="filter-row field-row row">
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <input type="text" class="text" placeholder="Carrier Name" />
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <div class="select-cont full-select">
                <select>
                    <option>Select State</option>
                    <option value="1">State 1</option>
                    <option value="2">State 2</option>
                    <option value="3">State 3</option>
                </select>
            </div>
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <input type="text" class="text" placeholder="City" />
        </div>
    </div>
    <div class="filter-row field-row row">
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <input type="text" class="text" placeholder="Email" />
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left row">
            <div class="field-col col-sm-6">
                <input type="text" class="text" placeholder="Phone Number" />
            </div>
            <div class="field-col col-sm-6">
                <input type="text" class="text" placeholder="US DOT#" />
            </div>
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left row">
            <div class="field-col col-sm-6">
                <input type="text" class="text" placeholder="Fleet Size" />
            </div>
            <div class="field-col col-sm-6 filter-search">
                <a class="green-btn search-filter-btn" href><img src="img/srch.png" alt="search"/>Search</a>
            </div>
        </div>
    </div>
</div>