<div class="col-sm-4 filter-col">
    <div class="filter-row row">
        <div class="col-xs-6">
            <div class="select-cont">
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6">
            Select All?
        </div>
    </div>
</div>
<div class="col-sm-4 filter-col">
    <div class="filter-row row">
        <div class="filt-left col-xs-6">
            <input type="text"/>
        </div>
        <div class="filt-right col-xs-6">
            <input type="text"/>
        </div>
    </div>
</div>
<div class="col-sm-4 filter-col">
    <div class="filter-row row">
        <div class="filt-left col-xs-6">
            <div class="select-cont">
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="filt-right col-xs-6">
            <a class="green-btn report-btn" href><img src="img/report.png" alt=""/>Run Report</a>
        </div>
    </div>
</div>