<div class="form-wrap">
    <div class="filter-row field-row row">
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <input type="text" class="text" placeholder="Driver Name" />
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <input type="text" class="text" placeholder="Phone Number" />
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <input type="text" class="text" placeholder="Email" />
        </div>
    </div>
    <div class="filter-row field-row row">
        <div class="filter-col field-col col-sm-4 filter-left col-left">
            <input type="text" class="text" placeholder="License #" />
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left">
        </div>
        <div class="filter-col field-col col-sm-4 filter-left col-left row filter-search">
            <a class="green-btn search-filter-btn" href><img src="img/srch.png" alt="search"/>Search</a>
        </div>
    </div>
</div>