<div class="loads-invoices-wrap dash-border" >
    <div class="container-controls row">
        <div class="col-xs-8 cc-label">
            <span><strong>Invoices</strong> by Months</span>
            <div class="select-cont full-select select-year">
                <select>
                    <option>Year</option>
                    <option value="1">Year 1</option>
                    <option value="2">Year 2</option>
                    <option value="3">Year 3</option>
                </select>
            </div>
        </div>
        <div class="col-xs-4 cc-btn">
            <ul class="cc-btn-list">
                <li>
                    <a class="gray-refresh-bth" href><img src="./img/gray-refresh.png" alt="refresh"/></a>
                </li>
                <li>
                    <a class="ct-show-btn" slide-toggle=".slideable-invoice-by-month"  ng-class="{ open: toolbar.isShow() }"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="invoices-by-months-wrap row slideable-invoice-by-month" ng-controller="InvoicesBarCtrl as bar">
        <ul class="bar-tablist">
            <li ng-repeat="item in bar.tabs" ng-class="{ active: bar.isSelected(item.id) }"><a href ng-click="bar.showBar(item.url); bar.selectTab(item.id)">{{item.title}}</a></li>
        </ul>
        <div ng-include="bar.barURL"></div>
        <ul class="bar-legend-list">
            <li ng-repeat="item in legends"><span style="background-color:{{item[1]}}"></span>{{item[0]}}</li>
        </ul>
    </div>
</div>