<div class="invoices-panel-wrap dash-border" ng-controller="InvoicesPageTableCtrl as table">
    <div class="container-controls row">
        <div class="col-xs-8 cc-label">
            <span><strong>Invoices</strong> Panel</span>
        </div>
        <div class="col-xs-4 cc-btn">
            <ul class="cc-btn-list">
                <li>
                    <a class="gray-refresh-bth" href ng-click="ipanelTriggerRelink()"><img src="./img/gray-refresh.png" alt="refresh"/></a>
                </li>
                <li>
                    <a class="ct-show-btn" slide-toggle=".slideable-invoices-panel"  ng-class="{ open: toolbar.isShow() }"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-loads-panel-wrap row slideable-invoices-panel" ipanel-relink-event="invoicePanel" ng-controller="reloadInvoicePanelCtrl">
        <table class="table-invoices-panel table" >
            <thead>
            <tr>
                <th class="th-load" ng-click="sort('invoice')"><span>invoice# <span ng-show="sortKey=='invoice'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
                <th class="th-pickup" ng-click="sort('invoiced')"><span>creation date <span ng-show="sortKey=='invoiced'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
                <th class="th-delivery" ng-click="sort('status')"><span>status <span ng-show="sortKey=='status'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
                <th class="th-status" ng-click="sort('customer')"><span>customer <span ng-show="sortKey=='customer'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:8">
                <td class="th-load"><a href="/tms/v2/#/loads/edit-invoices"><span>{{item.invoice}}</span></a></td>
                <td class="th-pickup"><span>{{item.invoiced}}</span></td>
                <td class="th-delivery"><span>{{item.status}}</span></td>
                <td class="th-status"><span>{{item.customer}}</span></td>
            </tr>
            </tbody>
        </table>
        <div class="empty-table" ng-show="table.amountLabel < 1" >
            No data available in the table
        </div>
        <div class="view-all-wrap">
            <a href="/tms/v2/#/invoices/" class="view-all-btn">View All Invoice</a>
        </div>
    </div>
</div>