<div class="loads-panel-wrap dash-border" >
    <div class="container-controls row">
        <div class="col-xs-8 cc-label">
            <span><strong>Loads</strong> Panel</span>
        </div>
        <div class="col-xs-4 cc-btn">
            <ul class="cc-btn-list">
                <li>
                    <a class="gray-refresh-bth" href><img src="./img/gray-refresh.png" alt="refresh"/></a>
                </li>
                <li>
                    <a class="ct-show-btn" slide-toggle=".slideable-loads-panel"  ng-class="{ open: toolbar.isShow() }"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-loads-panel-wrap row slideable-loads-panel"  ng-controller="LoadsPageTableCtrl as table">
        <table class="table-loads-panel table" >
            <thead>
            <tr>
                <th class="th-load"><span>load#</span></th>
                <th class="th-pickup"><span>pickup date</span></th>
                <th class="th-delivery"><span>drop date</span></th>
                <th class="th-status"><span>status</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in table.items | limitTo:8">
                <td class="th-load"><a href="/tms/v2/#/loads/edit-dispatch"><span>{{item.load}}</span></a></td>
                <td class="th-pickup"><span>{{item.pickup}}</span></td>
                <td class="th-delivery"><span>{{item.delivery}}</span></td>
                <td class="th-status">{{item.status}}</td>
            </tr>
            </tbody>
        </table>
        <div class="empty-table" ng-show="table.items.length < 1" >
            No data available in the table
        </div>
        <div class="view-all-wrap">
            <a href="/tms/v2/#/loads/" class="view-all-btn">View All Loads</a>
        </div>
    </div>
</div>