<div class="loads-stats-wrap" ng-controller="PiechartCtrl as piechart">
    <div class="container-controls row">
        <div class="col-xs-8 cc-label">
            <span><strong>Loads</strong> Stats</span>
            <div class="select-cont full-select select-dashboard">
                <select>
                    <option>Duration</option>
                    <option value="1">Duration 1</option>
                    <option value="2">Duration 2</option>
                    <option value="3">Duration 3</option>
                </select>
            </div>
        </div>
        <div class="col-xs-4 cc-btn">
            <ul class="cc-btn-list">
                <li>
                    <a class="gray-refresh-bth" href ng-click="loadsTriggerRelink()"><img src="./img/gray-refresh.png" alt="refresh"/></a>
                </li>
                <li>
                    <a class="ct-show-btn" slide-toggle=".slideable-loads-stats"  ng-class="{ open: toolbar.isShow() }"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slideable-loads-stats">
        <div class="container-diagrams row " loads-relink-event="loadsStats" ng-controller="reloadLoadsStatsCtrl">
            <div class="col-xs-2 diagram-item" ng-repeat="item in piechart.items">
                <a href="{{item.href}}">
                    <piechart color="{{item.color}}" fulfill="{{item.fulfill}}" value="{{item.value}}"></piechart>
                    <p style="color:{{item.color}}" class="canvas-label">{{item.label}}</p>
                </a>
                <p><a class="view-details-btn" href="{{item.href}}">View Details</a></p>
            </div>
        </div>
    </div>
</div>