<div class="toolbar-wrap" ng-controller="ToolbarCtrl as toolbar">
    <div class="container-toolbar load-page-toolbar row">
        <toolbar></toolbar>
    </div>
    <div class="load-page-filters filters row slideable-truck hide">
        <filter-truck></filter-truck>
    </div>
</div>
<table class="table-truck table" >
    <thead>
    <tr>
        <th class="th-truck" ng-click="sort('truck')"><span>trucks <span ng-show="sortKey=='truck'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-type" ng-click="sort('type')"><span>type <span ng-show="sortKey=='type'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-status" ng-click="sort('status')"><span>status <span ng-show="sortKey=='status'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-license" ng-click="sort('license')"><span>license plate <span ng-show="sortKey=='license'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-exp" ng-click="sort('exp')"><span>exp. date <span ng-show="sortKey=='exp'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-vin" ng-click="sort('vin')"><span>vin# <span ng-show="sortKey=='vin'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-reg" ng-click="sort('reg')"><span>reg. state <span ng-show="sortKey=='reg'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-ownership" ng-click="sort('ownership')"><span>ownership <span ng-show="sortKey=='ownership'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-available"><span>available</span></th>
        <th class="th-link"></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
        <td class="th-truck"><span>{{item.truck}}</span></td>
        <td class="th-type"><a href><span>{{item.type}}</span></a></td>
        <td class="th-status"><span>{{item.status}}</span></td>
        <td class="th-license"><span>{{item.license}}</span></td>
        <td class="th-exp"><span>{{item.exp}}</span></td>
        <td class="th-vin"><span>{{item.vin}}</span></td>
        <td class="th-reg"><span>{{item.reg}}</span></td>
        <td class="th-ownership"><span>{{item.ownership}}</span></td>
        <td class="th-available">
            <input id="broken-{{item.id}}" class="checkbox cb-broken" type="checkbox">
            <label class="label-for" for="broken-{{item.id}}">
                <span class="is-broken"></span>
                <span ng-show="">Yes</span>
                <span ng-show="">Now</span>
            </label>
        </td>
        <td class="th-link">
            <ul class="th-link-list">
                <li class="th-link-item">
                    <a class="link-edit" href="/tms/v2/#/administration/edit-truck"></a>
                </li>
                <li class="th-link-item">
                    <a class="link-twitter" href></a>
                </li>
                <li class="th-link-item">
                    <a class="link-linkedin" href></a>
                </li>
                <li class="th-link-item">
                    <a class="link-q" href></a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<div class="empty-table" ng-show="table.items.length < 1" >
    No data available in the table
</div>