<table class="table-progress table" >
    <thead>
    <tr>
        <th class="th-amount" ng-click="sort('index')"><span># <span ng-show="sortKey=='index'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-name" ng-click="sort('name')"><span>name <span ng-show="sortKey=='name'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-loads" ng-click="sort('loads')"><span>total loads <span ng-show="sortKey=='loads'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-revenue" ng-click="sort('revenue')"><span>total revenue <span ng-show="sortKey=='revenue'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-profit" ng-click="sort('profit')"><span>total profit <span ng-show="sortKey=='profit'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-profper" ng-click="sort('profitPercent')"><span>profit % <span ng-show="sortKey=='profitPercent'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-pickup" ng-click="sort('pickup')"><span>late pick-up <span ng-show="sortKey=='pickup'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-delivery" ng-click="sort('delivery')"><span>late delivery <span ng-show="sortKey=='delivery'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-miles" ng-click="sort('miles')"><span>miles <span ng-show="sortKey=='miles'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
        <td class="th-amount"><span>{{item.index}}</span></td>
        <td class="th-name"><span>{{item.name}}</span></td>
        <td class="th-loads"><a href><span>{{item.loads}}</span></a></td>
        <td class="th-revenue"><span>${{item.revenue}}</span></td>
        <td class="th-profit"><span>${{item.profit}}</span></td>
        <td class="th-profper"><span>{{item.profitPercent}}%</span></td>
        <td class="th-pickup"><span>{{item.pickup}}</span></td>
        <td class="th-delivery"><span>{{item.delivery}}</span></td>
        <td class="th-miles"><span>{{item.miles}}</span></td>
    </tr>
    </tbody>
</table>
<div class="empty-table" ng-show="table.amountLabel < 1" >
    No data available in the table
</div>