<table class="table-category-list table" >
    <thead>
    <tr>
        <th class="th-checkbox">
            <input type="checkbox" class="checkbox"/><span></span>
        </th>
        <th class="th-category" ng-click="sort('category')"><span>category <span ng-show="sortKey=='category'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-link"></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
        <td class="th-checkbox">
            <input type="checkbox" class="checkbox"/><span></span>
        </td>
        <td class="th-category"><span>{{item.category}}</span></td>
        <td class="th-link">
            <ul class="th-link-list">
                <li class="th-link-item">
                    <a class="link-edit"></a>
                </li>
                <li class="th-link-item">
                    <a class="link-copy"></a>
                </li>
                <li class="th-link-item">
                    <a class="link-remove"></a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<div class="empty-table" ng-show="table.amountLabel < 1" >
    No data available in the table
</div>