<div class="toolbar-wrap" ng-controller="ToolbarCtrl as toolbar">
    <div class="container-toolbar load-page-toolbar row">
        <toolbar></toolbar>
    </div>
    <div class="load-page-filters filters row slideable-external hide">
        <filter-external></filter-external>
    </div>
</div>
<table class="table-external table" >
    <thead>
    <tr>
        <th class="th-name" ng-click="sort('name')"><span>name <span ng-show="sortKey=='name'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-address" ng-click="sort('address')"><span>address <span ng-show="sortKey=='address'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-city" ng-click="sort('city')"><span>city <span ng-show="sortKey=='city'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-zip" ng-click="sort('zip')"><span>zip <span ng-show="sortKey=='zip'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-state" ng-click="sort('state')"><span>state <span ng-show="sortKey=='state'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-telephone"><span>telephone</span></th>
        <th class="th-dot" ng-click="sort('dot')"><span>us dot# <span ng-show="sortKey=='dot'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-liability" ng-click="sort('liability')"><span>liability <span ng-show="sortKey=='liability'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-cargo" ng-click="sort('cargo')"><span>cargo ins. <span ng-show="sortKey=='cargo'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-fleet" ng-click="sort('fleet')"><span>fleet size <span ng-show="sortKey=='fleet'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-link"></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
        <td class="th-name"><span>{{item.name}}</span></td>
        <td class="th-address"><a href><span>{{item.address}}</span></a></td>
        <td class="th-city"><span>{{item.city}}</span></td>
        <td class="th-zip"><span>{{item.zip}}</span></td>
        <td class="th-state"><span>{{item.state}}</span></td>
        <td class="th-telephone"><span>{{item.telephone}}</span></td>
        <td class="th-dot"><span>{{item.dot}}</span></td>
        <td class="th-liability"><span>${{item.liability}}</span></td>
        <td class="th-cargo"><span>${{item.cargo}}</span></td>
        <td class="th-fleet"><span>{{item.fleet}}</span></td>
        <td class="th-link">
            <ul class="th-link-list">
                <li class="th-link-item">
                    <a class="link-edit" href="/tms/v2/#/administration/edit-external-carrier"></a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<div class="empty-table" ng-show="table.amountLabel < 1" >
    No data available in the table
</div>