<div class="toolbar-wrap" ng-controller="ToolbarCtrl as toolbar">
    <div class="container-toolbar load-page-toolbar row">
        <toolbar></toolbar>
    </div>
    <div class="load-page-filters filters row slideable-driver hide">
        <filter-driver></filter-driver>
    </div>
</div>
<table class="table-driver table" >
    <thead>
    <tr>
        <th class="th-name" ng-click="sort('name')"><span>name <span ng-show="sortKey=='name'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-telephone"><span>telephone</span></th>
        <th class="th-email" ng-click="sort('email')"><span>email <span ng-show="sortKey=='email'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-license" ng-click="sort('license')"><span>license# <span ng-show="sortKey=='license'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-exp" ng-click="sort('exp')"><span>license exp. <span ng-show="sortKey=='exp'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-med" ng-click="sort('med')"><span>med. test exp. <span ng-show="sortKey=='med'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-drug" ng-click="sort('drug')"><span>drug test exp. <span ng-show="sortKey=='drug'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-link"></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
        <td class="th-name"><span>{{item.name}}</span></td>
        <td class="th-telephone"><span>{{item.telephone}}</span></td>
        <td class="th-email"><span>{{item.email}}</span></td>
        <td class="th-license"><span>{{item.license}}</span></td>
        <td class="th-exp"><span>{{item.exp}}</span></td>
        <td class="th-med"><span>{{item.med}}</span></td>
        <td class="th-drug"><span>{{item.drug}}</span></td>
        <td class="th-link">
            <ul class="th-link-list">
                <li class="th-link-item">
                    <a class="link-edit" href="/tms/v2/#/administration/edit-driver"></a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<div class="empty-table" ng-show="table.amountLabel < 1" >
    No data available in the table
</div>