<table class="table-tax-reports table" >
    <thead>
    <tr>
        <th class="th-checkbox">
            <input type="checkbox" class="checkbox"/><span></span>
        </th>
        <th class="th-name" ng-click="sort('name')"><span>carrier name <span ng-show="sortKey=='name'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-year" ng-click="sort('year')"><span>year <span ng-show="sortKey=='year'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-gross" ng-click="sort('gross')"><span>gross revenue <span ng-show="sortKey=='gross'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
        <td class="th-checkbox">
            <input type="checkbox" class="checkbox"/><span></span>
        </td>
        <td class="th-name"><span>{{item.name}}</span></td>
        <td class="th-year"><span>{{item.year}}</span></td>
        <td class="th-gross"><span>{{item.gross}}</span></td>
    </tr>
    </tbody>
</table>
<div class="empty-table" ng-show="table.amountLabel < 1" >
    No data available in the table
</div>