<div class="alert-table-wrap row">
    <div class="col-sm-6">
        <table class="table-alert table" >
            <thead>
            <tr>
                <th class="th-checkbox">
                    <input type="checkbox" class="checkbox"/><span></span>
                </th>
                <th class="th-name"><span>alert name</span></th>
                <th class="th-frequency"><span>frequency</span></th>
                <th class="th-level"><span>level</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in table.items">
                <td class="th-checkbox">
                    <input type="checkbox" class="checkbox"/><span></span>
                </td>
                <td class="th-name"><span>{{item.name}}</span></td>
                <td class="th-frequency">
                    <div class="freq-select select-cont full-select inline">
                        <select>
                            <option ng-repeat="option in item.frequency" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                </td>
                <td class="th-level">
                    <div class="level-select select-cont full-select inline">
                        <select>
                            <option ng-repeat="option in item.level" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table-alert table" >
            <thead>
            <tr>
                <th class="th-checkbox">
                    <input type="checkbox" class="checkbox"/><span></span>
                </th>
                <th class="th-name"><span>alert name</span></th>
                <th class="th-frequency"><span>frequency</span></th>
                <th class="th-level"><span>level</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in table.items">
                <td class="th-checkbox">
                    <input type="checkbox" class="checkbox"/><span></span>
                </td>
                <td class="th-name"><span>{{item.name}}</span></td>
                <td class="th-frequency">
                    <div class="freq-select select-cont full-select inline">
                        <select>
                            <option ng-repeat="option in item.frequency" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                </td>
                <td class="th-level">
                    <div class="level-select select-cont full-select inline">
                        <select>
                            <option ng-repeat="option in item.level" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="empty-table" ng-show="table.items.length < 1" >
    No data available in the table
</div>