<table class="table-document table" >
    <thead>
    <tr>
        <th class="th-checkbox">
            <input type="checkbox" class="checkbox"/><span></span>
        </th>
        <th class="th-category" ng-click="sort('category')"><span>document category <span ng-show="sortKey=='category'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-type" ng-click="sort('type')"><span>document type <span ng-show="sortKey=='type'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-link"></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
        <td class="th-checkbox">
            <input type="checkbox" class="checkbox"/><span></span>
        </td>
        <td class="th-category"><a href><span>{{item.category}}</span></a></td>
        <td class="th-type"><span>{{item.type}}</span></td>
        <td class="th-link">
            <ul class="th-link-list">
                <li class="th-link-item">
                    <a class="link-edit" href></a>
                </li>
                <li class="th-link-item">
                    <a class="link-copy" href></a>
                </li>
                <li class="th-link-item">
                    <a class="link-remove" href></a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<div class="empty-table" ng-show="table.items.length < 1" >
    No data available in the table
</div>