<div class="toolbar-wrap" ng-controller="ToolbarCtrl as toolbar">
    <div class="container-toolbar load-page-toolbar row">
        <toolbar></toolbar>
    </div>
    <div class="load-page-filters filters row slideable-load hide">
        <filter-loads></filter-loads>
    </div>
</div>
<table class="table-invoises table" >
    <thead>
        <tr>
            <th class="th-checkbox">
                <input type="checkbox" class="checkbox"/><span></span>
            </th>
            <th class="th-load" ng-click="sort('load')"><span>load# <span ng-show="sortKey=='load'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
            <th class="th-pickup" ng-click="sort('pickup')"><span>pickup <span ng-show="sortKey=='pickup'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
            <th class="th-delivery" ng-click="sort('delivery')"><span>delivery <span ng-show="sortKey=='delivery'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
            <th class="th-driver" ng-click="sort('driver')"><span>driver/carrier <span ng-show="sortKey=='driver'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
            <th class="th-customer" ng-click="sort('customer')"><span>customer <span ng-show="sortKey=='customer'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
            <th class="th-from" ng-click="sort('from')"><span>from <span ng-show="sortKey=='from'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
            <th class="th-to" ng-click="sort('to')"><span>to <span ng-show="sortKey=='to'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
            <th class="th-status"><span>status</span></th>
            <th class="th-link"></th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
            <td class="th-checkbox">
                <input type="checkbox" class="checkbox"/><span></span>
            </td>
            <td class="th-load"><a href="/tms/v2/#/loads/edit-dispatch"><span>{{item.load}}</span></a></td>
            <td class="th-pickup"><span>{{item.pickup}}</span></td>
            <td class="th-delivery"><span>{{item.delivery}}</span></td>
            <td class="th-driver"><a href><span>{{item.driver}}</span></a></td>
            <td class="th-customer"><a href><span>{{item.customer}}</span></a></td>
            <td class="th-from"><a href><span>{{item.from}}</span></a></td>
            <td class="th-to"><a href><span>{{item.to}}</span></a></td>
            <td class="th-status">
                <div class="inline status-select-wrap">
                    <div class="status-select select-cont inline">
                        <select>
                            <option ng-repeat="option in item.select" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                    <a class="ss-select-link" data-popup="true" ng-click="content.showPopup('/tms/v2/templates/views/popups/dispatch.html', true)"><img src="img/rounds.png" alt="..."/></a>
                </div>
                
            </td>
            <td class="th-link">
                <ul class="th-link-list">
                    <li class="th-link-item">
                        <a class="link-views" href></a>
                    </li>
                    <li class="th-link-item">
                        <a class="link-docs" href></a>
                    </li>
                    <li class="th-link-item">
                        <a class="link-twitter" href></a>
                    </li>
                    <li class="th-link-item">
                        <a class="link-facebook" href></a>
                    </li>
                    <li class="th-link-item">
                        <a class="link-linkedin" href></a>
                    </li>
                    <li class="th-link-item">
                        <a class="link-q" href></a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<div class="empty-table" ng-show="table.items.length < 1" >
    No data available in the table
</div>
