<table class="table-create-invoises-2 table" >
    <thead>
    <tr>
        <th class="th-checkbox">
            <input type="checkbox" class="checkbox"/><span></span>
        </th>
        <th class="th-load" ng-click="sort('load')"><span>load# <span ng-show="sortKey=='load'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-pickup" ng-click="sort('pickup')"><span>pickup <span ng-show="sortKey=='pickup'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-delivery" ng-click="sort('delivery')"><span>delivery <span ng-show="sortKey=='delivery'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-from" ng-click="sort('from')"><span>from <span ng-show="sortKey=='from'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-to" ng-click="sort('to')"><span>to <span ng-show="sortKey=='to'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-bol"><span>bol</span></th>
        <th class="th-miles" ng-click="sort('miles')"><span>miles <span ng-show="sortKey=='miles'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-weight" ng-click="sort('weight')"><span>weight <span ng-show="sortKey=='weight'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-unit" ng-click="sort('unit')"><span>unit <span ng-show="sortKey=='unit'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-driver" ng-click="sort('driver')"><span>driver/carrier <span ng-show="sortKey=='driver'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
        <th class="th-fee" ng-click="sort('fees')"><span>fees <span ng-show="sortKey=='fees'" ng-class="{'sort-up':reverse,'sort-down':!reverse}"></span></span></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in items|orderBy:sortKey:reverse|itemsPerPage:table.itemAmount">
        <td class="th-checkbox">
            <input type="checkbox" class="checkbox"/><span></span>
        </td>
        <td class="th-load"><a href><span>{{item.load}}</span></a></td>
        <td class="th-pickup"><span>{{item.pickup}}</span></td>
        <td class="th-delivery"><span>{{item.delivery}}</span></td>
        <td class="th-from"><a href><span>{{item.from}}</span></a></td>
        <td class="th-to"><a href><span>{{item.to}}</span></a></td>
        <td class="th-bol"><span></span></td>
        <td class="th-miles"><span>{{item.miles}}</span></td>
        <td class="th-weight"><span>{{item.weight}}lbs</span></td>
        <td class="th-unit"><span>{{item.unit}} Truck</span></td>
        <td class="th-driver"><a href><span>{{item.driver}} Truck</span></a></td>
        <td class="th-fee"><span>{{item.fees}}</span></td>
    </tr>
    </tbody>
</table>
<div class="empty-table" ng-show="table.amountLabel < 1" >
    No data available in the table
</div>